// <copyright file="ApiKeysApi.cs" company="APIMatic">
// OpenApiSpecForClickHouseCloud.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using OpenApiSpecForClickHouseCloud.Standard.Exceptions;
using OpenApiSpecForClickHouseCloud.Standard.Http.Response;
using System;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;

namespace OpenApiSpecForClickHouseCloud.Standard.Apis
{
    /// <summary>
    /// ApiKeysApi.
    /// </summary>
    public class ApiKeysApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="ApiKeysApi"/> class.
        /// </summary>
        internal ApiKeysApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Returns a list of keys in the organization, ordered by creation date, oldest first. Results are capped at `limit` (default and maximum 250) per page. Every response carries `limit`, `totalCount` and `nextCursor`; pass `nextCursor` as the `cursor` query parameter to fetch the next page, repeating until it is null.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="limit">Optional parameter: Maximum number of results to return..</param>
        /// <param name="cursor">Optional parameter: Opaque cursor from a previous response's `nextCursor`, marking where to resume the list..</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsKeysResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsKeysResponse> OpenapiKeyGetList(
                Guid organizationId,
                int? limit = 250,
                string cursor = null)
            => CoreHelper.RunTask(OpenapiKeyGetListAsync(organizationId, limit, cursor));

        /// <summary>
        /// Returns a list of keys in the organization, ordered by creation date, oldest first. Results are capped at `limit` (default and maximum 250) per page. Every response carries `limit`, `totalCount` and `nextCursor`; pass `nextCursor` as the `cursor` query parameter to fetch the next page, repeating until it is null.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="limit">Optional parameter: Maximum number of results to return..</param>
        /// <param name="cursor">Optional parameter: Opaque cursor from a previous response's `nextCursor`, marking where to resume the list..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsKeysResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsKeysResponse>> OpenapiKeyGetListAsync(
                Guid organizationId,
                int? limit = 250,
                string cursor = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsKeysResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/organizations/{organizationId}/keys")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Query(query => query.Setup("limit", limit ?? 250))
                      .Query(query => query.Setup("cursor", cursor))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsKeys400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsKeys500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Creates new API key.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that will own the key..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsKeysResponse1 response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsKeysResponse1> OpenapiKeyCreate(
                Guid organizationId,
                Models.ApiKeyPostRequest body = null)
            => CoreHelper.RunTask(OpenapiKeyCreateAsync(organizationId, body));

        /// <summary>
        /// Creates new API key.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that will own the key..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsKeysResponse1 response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsKeysResponse1>> OpenapiKeyCreateAsync(
                Guid organizationId,
                Models.ApiKeyPostRequest body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsKeysResponse1>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/organizations/{organizationId}/keys")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsKeys400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsKeys500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Returns a single key details.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="keyId">Required parameter: ID of the requested key..</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsKeysResponse2 response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsKeysResponse2> OpenapiKeyGet(
                Guid organizationId,
                Guid keyId)
            => CoreHelper.RunTask(OpenapiKeyGetAsync(organizationId, keyId));

        /// <summary>
        /// Returns a single key details.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="keyId">Required parameter: ID of the requested key..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsKeysResponse2 response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsKeysResponse2>> OpenapiKeyGetAsync(
                Guid organizationId,
                Guid keyId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsKeysResponse2>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/organizations/{organizationId}/keys/{keyId}")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("keyId", keyId))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsKeys400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsKeys500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Updates API key properties.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the key..</param>
        /// <param name="keyId">Required parameter: ID of the key to update..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsKeysResponse2 response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsKeysResponse2> OpenapiKeyUpdate(
                Guid organizationId,
                Guid keyId,
                Models.ApiKeyPatchRequest body = null)
            => CoreHelper.RunTask(OpenapiKeyUpdateAsync(organizationId, keyId, body));

        /// <summary>
        /// Updates API key properties.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the key..</param>
        /// <param name="keyId">Required parameter: ID of the key to update..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsKeysResponse2 response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsKeysResponse2>> OpenapiKeyUpdateAsync(
                Guid organizationId,
                Guid keyId,
                Models.ApiKeyPatchRequest body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsKeysResponse2>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(new HttpMethod("PATCH"), "/v1/organizations/{organizationId}/keys/{keyId}")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("keyId", keyId))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsKeys400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsKeys500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Deletes API key. Only a key not used to authenticate the active request can be deleted.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the key..</param>
        /// <param name="keyId">Required parameter: ID of the key to delete..</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsKeysResponse4 response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsKeysResponse4> OpenapiKeyDelete(
                Guid organizationId,
                Guid keyId)
            => CoreHelper.RunTask(OpenapiKeyDeleteAsync(organizationId, keyId));

        /// <summary>
        /// Deletes API key. Only a key not used to authenticate the active request can be deleted.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the key..</param>
        /// <param name="keyId">Required parameter: ID of the key to delete..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsKeysResponse4 response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsKeysResponse4>> OpenapiKeyDeleteAsync(
                Guid organizationId,
                Guid keyId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsKeysResponse4>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Delete, "/v1/organizations/{organizationId}/keys/{keyId}")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("keyId", keyId))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsKeys400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsKeys500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}