// <copyright file="BackupApi.cs" company="APIMatic">
// OpenApiSpecForClickHouseCloud.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using OpenApiSpecForClickHouseCloud.Standard.Exceptions;
using OpenApiSpecForClickHouseCloud.Standard.Http.Response;
using OpenApiSpecForClickHouseCloud.Standard.Models.Containers;
using System;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;

namespace OpenApiSpecForClickHouseCloud.Standard.Apis
{
    /// <summary>
    /// BackupApi.
    /// </summary>
    public class BackupApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="BackupApi"/> class.
        /// </summary>
        internal BackupApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Returns a list of all backups for the service. The most recent backups comes first in the list.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the backup..</param>
        /// <param name="serviceId">Required parameter: ID of the service the backup was created from..</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesBackupsResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesBackupsResponse> BackupGetList(
                Guid organizationId,
                Guid serviceId)
            => CoreHelper.RunTask(BackupGetListAsync(organizationId, serviceId));

        /// <summary>
        /// Returns a list of all backups for the service. The most recent backups comes first in the list.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the backup..</param>
        /// <param name="serviceId">Required parameter: ID of the service the backup was created from..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesBackupsResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesBackupsResponse>> BackupGetListAsync(
                Guid organizationId,
                Guid serviceId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesBackupsResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/organizations/{organizationId}/services/{serviceId}/backups")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServicesBackups400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesBackups500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Returns a single backup info.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the backup..</param>
        /// <param name="serviceId">Required parameter: ID of the service the backup was created from..</param>
        /// <param name="backupId">Required parameter: ID of the requested backup..</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesBackupsBackupIdResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesBackupsBackupIdResponse> BackupGet(
                Guid organizationId,
                Guid serviceId,
                Guid backupId)
            => CoreHelper.RunTask(BackupGetAsync(organizationId, serviceId, backupId));

        /// <summary>
        /// Returns a single backup info.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the backup..</param>
        /// <param name="serviceId">Required parameter: ID of the service the backup was created from..</param>
        /// <param name="backupId">Required parameter: ID of the requested backup..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesBackupsBackupIdResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesBackupsBackupIdResponse>> BackupGetAsync(
                Guid organizationId,
                Guid serviceId,
                Guid backupId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesBackupsBackupIdResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/organizations/{organizationId}/services/{serviceId}/backups/{backupId}")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))
                      .Template(template => template.Setup("backupId", backupId))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServicesBackupsBackupId400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesBackupsBackupId500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Returns the service backup configuration.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the service..</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesBackupConfigurationResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesBackupConfigurationResponse> BackupConfigurationGet(
                Guid organizationId,
                Guid serviceId)
            => CoreHelper.RunTask(BackupConfigurationGetAsync(organizationId, serviceId));

        /// <summary>
        /// Returns the service backup configuration.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the service..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesBackupConfigurationResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesBackupConfigurationResponse>> BackupConfigurationGetAsync(
                Guid organizationId,
                Guid serviceId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesBackupConfigurationResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/organizations/{organizationId}/services/{serviceId}/backupConfiguration")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServicesBackupConfiguration400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesBackupConfiguration500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Updates service backup configuration. Requires ADMIN auth key role. Setting the properties with null value, will reset the properties to theirs default values.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the service..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesBackupConfigurationResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesBackupConfigurationResponse> BackupConfigurationUpdate(
                Guid organizationId,
                Guid serviceId,
                Models.BackupConfigurationPatchRequest body = null)
            => CoreHelper.RunTask(BackupConfigurationUpdateAsync(organizationId, serviceId, body));

        /// <summary>
        /// Updates service backup configuration. Requires ADMIN auth key role. Setting the properties with null value, will reset the properties to theirs default values.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the service..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesBackupConfigurationResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesBackupConfigurationResponse>> BackupConfigurationUpdateAsync(
                Guid organizationId,
                Guid serviceId,
                Models.BackupConfigurationPatchRequest body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesBackupConfigurationResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(new HttpMethod("PATCH"), "/v1/organizations/{organizationId}/services/{serviceId}/backupConfiguration")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServicesBackupConfiguration400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesBackupConfiguration500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> Returns the service backup bucket.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the service..</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesBackupBucketResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesBackupBucketResponse> BackupBucketGet(
                Guid organizationId,
                Guid serviceId)
            => CoreHelper.RunTask(BackupBucketGetAsync(organizationId, serviceId));

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> Returns the service backup bucket.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the service..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesBackupBucketResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesBackupBucketResponse>> BackupBucketGetAsync(
                Guid organizationId,
                Guid serviceId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesBackupBucketResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/organizations/{organizationId}/services/{serviceId}/backupBucket")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServicesBackupBucket400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesBackupBucket500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> Create service backup bucket. Requires ADMIN auth key role.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="serviceId">Required parameter: ID of the requested service..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesBackupBucketResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesBackupBucketResponse> BackupBucketCreate(
                Guid organizationId,
                Guid serviceId,
                BackupBucketPostRequest body = null)
            => CoreHelper.RunTask(BackupBucketCreateAsync(organizationId, serviceId, body));

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> Create service backup bucket. Requires ADMIN auth key role.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="serviceId">Required parameter: ID of the requested service..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesBackupBucketResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesBackupBucketResponse>> BackupBucketCreateAsync(
                Guid organizationId,
                Guid serviceId,
                BackupBucketPostRequest body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesBackupBucketResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/organizations/{organizationId}/services/{serviceId}/backupBucket")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServicesBackupBucket400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesBackupBucket500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> Update service backup bucket. Requires ADMIN auth key role. The secrets of the specified bucket provider are always required.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="serviceId">Required parameter: ID of the requested service..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesBackupBucketResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesBackupBucketResponse> BackupBucketUpdate(
                Guid organizationId,
                Guid serviceId,
                BackupBucketPatchRequest body = null)
            => CoreHelper.RunTask(BackupBucketUpdateAsync(organizationId, serviceId, body));

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> Update service backup bucket. Requires ADMIN auth key role. The secrets of the specified bucket provider are always required.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="serviceId">Required parameter: ID of the requested service..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesBackupBucketResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesBackupBucketResponse>> BackupBucketUpdateAsync(
                Guid organizationId,
                Guid serviceId,
                BackupBucketPatchRequest body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesBackupBucketResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(new HttpMethod("PATCH"), "/v1/organizations/{organizationId}/services/{serviceId}/backupBucket")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServicesBackupBucket400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesBackupBucket500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> Delete service backup bucket. Requires ADMIN auth key role.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="serviceId">Required parameter: ID of the requested service..</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesBackupBucketResponse3 response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesBackupBucketResponse3> BackupBucketDelete(
                Guid organizationId,
                Guid serviceId)
            => CoreHelper.RunTask(BackupBucketDeleteAsync(organizationId, serviceId));

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> Delete service backup bucket. Requires ADMIN auth key role.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="serviceId">Required parameter: ID of the requested service..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesBackupBucketResponse3 response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesBackupBucketResponse3>> BackupBucketDeleteAsync(
                Guid organizationId,
                Guid serviceId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesBackupBucketResponse3>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Delete, "/v1/organizations/{organizationId}/services/{serviceId}/backupBucket")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServicesBackupBucket400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesBackupBucket500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}