// <copyright file="BillingApi.cs" company="APIMatic">
// OpenApiSpecForClickHouseCloud.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using OpenApiSpecForClickHouseCloud.Standard.Exceptions;
using OpenApiSpecForClickHouseCloud.Standard.Http.Response;
using System;
using System.Collections.Generic;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;

namespace OpenApiSpecForClickHouseCloud.Standard.Apis
{
    /// <summary>
    /// BillingApi.
    /// </summary>
    public class BillingApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="BillingApi"/> class.
        /// </summary>
        internal BillingApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Returns a grand total and a list of daily, per-entity organization usage cost records for the organization in the queried time period (maximum 31 days). All days in both the request and the response are evaluated based on the UTC timezone.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="fromDate">Required parameter: Start date for the report, e.g. 2024-12-19..</param>
        /// <param name="toDate">Required parameter: End date (inclusive) for the report, e.g. 2024-12-20. This date cannot be more than 30 days after from_date (for a maximum queried period of 31 days)..</param>
        /// <param name="filter">Optional parameter: Filter criteria to apply when retrieving the usage cost report. Currently, only filtering by resource tags is supported..</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsUsageCostResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsUsageCostResponse> UsageCostGet(
                Guid organizationId,
                DateTime fromDate,
                DateTime toDate,
                List<string> filter = null)
            => CoreHelper.RunTask(UsageCostGetAsync(organizationId, fromDate, toDate, filter));

        /// <summary>
        /// Returns a grand total and a list of daily, per-entity organization usage cost records for the organization in the queried time period (maximum 31 days). All days in both the request and the response are evaluated based on the UTC timezone.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="fromDate">Required parameter: Start date for the report, e.g. 2024-12-19..</param>
        /// <param name="toDate">Required parameter: End date (inclusive) for the report, e.g. 2024-12-20. This date cannot be more than 30 days after from_date (for a maximum queried period of 31 days)..</param>
        /// <param name="filter">Optional parameter: Filter criteria to apply when retrieving the usage cost report. Currently, only filtering by resource tags is supported..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsUsageCostResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsUsageCostResponse>> UsageCostGetAsync(
                Guid organizationId,
                DateTime fromDate,
                DateTime toDate,
                List<string> filter = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsUsageCostResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/organizations/{organizationId}/usageCost")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Query(query => query.Setup("from_date", fromDate.ToString("yyyy'-'MM'-'dd")))
                      .Query(query => query.Setup("to_date", toDate.ToString("yyyy'-'MM'-'dd")))
                      .Query(query => query.Setup("filter", filter))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsUsageCost400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsUsageCost500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// DEPRECATED. Use the `/v1/organizations/{organizationId}/creditBalances` endpoint instead. <br /><br /> Returns the active prepaid credit balances for the organization, each with its own balance ID and remaining credits, along with the total remaining credits across all active balances. A balance is active when it has started, has not expired, and has credits remaining. Balances are ordered by expiration date, soonest first, and the returned page is capped at `limit` (default and maximum 100). When `totalCount` exceeds the number of returned balances, page with `limit`/`offset` to retrieve them all. `totalRemainingPrepaidCredits` always covers every active balance, not just the returned page.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="limit">Optional parameter: Maximum number of results to return..</param>
        /// <param name="offset">Optional parameter: Number of results to skip before returning..</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsActiveBalancesResponse response from the API call.</returns>
        [Obsolete]
        public ApiResponse<Models.V1OrganizationsActiveBalancesResponse> ActiveBalancesGet(
                Guid organizationId,
                int? limit = 100,
                int? offset = 0)
            => CoreHelper.RunTask(ActiveBalancesGetAsync(organizationId, limit, offset));

        /// <summary>
        /// DEPRECATED. Use the `/v1/organizations/{organizationId}/creditBalances` endpoint instead. <br /><br /> Returns the active prepaid credit balances for the organization, each with its own balance ID and remaining credits, along with the total remaining credits across all active balances. A balance is active when it has started, has not expired, and has credits remaining. Balances are ordered by expiration date, soonest first, and the returned page is capped at `limit` (default and maximum 100). When `totalCount` exceeds the number of returned balances, page with `limit`/`offset` to retrieve them all. `totalRemainingPrepaidCredits` always covers every active balance, not just the returned page.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="limit">Optional parameter: Maximum number of results to return..</param>
        /// <param name="offset">Optional parameter: Number of results to skip before returning..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsActiveBalancesResponse response from the API call.</returns>
        [Obsolete]
        public async Task<ApiResponse<Models.V1OrganizationsActiveBalancesResponse>> ActiveBalancesGetAsync(
                Guid organizationId,
                int? limit = 100,
                int? offset = 0,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsActiveBalancesResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/organizations/{organizationId}/activeBalances")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Query(query => query.Setup("limit", limit ?? 100))
                      .Query(query => query.Setup("offset", offset ?? 0))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsActiveBalances400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsActiveBalances500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// **Disclaimer:** This beta endpoint is evolving; the API contract may change. <br /><br /> Returns the active credit balances for the organization, each with its own balance ID, type and remaining credits, along with the total remaining credits across all of them. A balance is active when it has started, has not expired, and has credits remaining. Balances are ordered by expiration date, soonest first. The list is always present and is empty when the organization has no active balances.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsCreditBalancesResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsCreditBalancesResponse> CreditBalancesGet(
                Guid organizationId)
            => CoreHelper.RunTask(CreditBalancesGetAsync(organizationId));

        /// <summary>
        /// **Disclaimer:** This beta endpoint is evolving; the API contract may change. <br /><br /> Returns the active credit balances for the organization, each with its own balance ID, type and remaining credits, along with the total remaining credits across all of them. A balance is active when it has started, has not expired, and has credits remaining. Balances are ordered by expiration date, soonest first. The list is always present and is empty when the organization has no active balances.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsCreditBalancesResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsCreditBalancesResponse>> CreditBalancesGetAsync(
                Guid organizationId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsCreditBalancesResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/organizations/{organizationId}/creditBalances")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsCreditBalances400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsCreditBalances500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}