// <copyright file="ClickPipesApi.cs" company="APIMatic">
// OpenApiSpecForClickHouseCloud.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using OpenApiSpecForClickHouseCloud.Standard.Exceptions;
using OpenApiSpecForClickHouseCloud.Standard.Http.Response;
using System;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;

namespace OpenApiSpecForClickHouseCloud.Standard.Apis
{
    /// <summary>
    /// ClickPipesApi.
    /// </summary>
    public class ClickPipesApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="ClickPipesApi"/> class.
        /// </summary>
        internal ClickPipesApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Returns a list of ClickPipes.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the service that owns the ClickPipe..</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickpipesResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesClickpipesResponse> ClickPipeGetList(
                Guid organizationId,
                Guid serviceId)
            => CoreHelper.RunTask(ClickPipeGetListAsync(organizationId, serviceId));

        /// <summary>
        /// Returns a list of ClickPipes.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the service that owns the ClickPipe..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickpipesResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesClickpipesResponse>> ClickPipeGetListAsync(
                Guid organizationId,
                Guid serviceId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesClickpipesResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/organizations/{organizationId}/services/{serviceId}/clickpipes")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServicesClickpipes400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesClickpipes500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Create a new ClickPipe.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the service to create the ClickPipe for..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickpipesResponse1 response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesClickpipesResponse1> ClickPipeCreate(
                Guid organizationId,
                Guid serviceId,
                Models.ClickPipePostRequest body = null)
            => CoreHelper.RunTask(ClickPipeCreateAsync(organizationId, serviceId, body));

        /// <summary>
        /// Create a new ClickPipe.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the service to create the ClickPipe for..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickpipesResponse1 response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesClickpipesResponse1>> ClickPipeCreateAsync(
                Guid organizationId,
                Guid serviceId,
                Models.ClickPipePostRequest body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesClickpipesResponse1>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/organizations/{organizationId}/services/{serviceId}/clickpipes")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServicesClickpipes400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesClickpipes500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> Returns service-level ClickPipes capabilities and Private Preview workload identity context, including the GCP service account to grant access to customer source resources.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the service to get ClickPipes context for..</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickpipesContextResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesClickpipesContextResponse> ClickPipesServiceContextGet(
                Guid organizationId,
                Guid serviceId)
            => CoreHelper.RunTask(ClickPipesServiceContextGetAsync(organizationId, serviceId));

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> Returns service-level ClickPipes capabilities and Private Preview workload identity context, including the GCP service account to grant access to customer source resources.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the service to get ClickPipes context for..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickpipesContextResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesClickpipesContextResponse>> ClickPipesServiceContextGetAsync(
                Guid organizationId,
                Guid serviceId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesClickpipesContextResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/organizations/{organizationId}/services/{serviceId}/clickpipes/context")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServicesClickpipesContext400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesClickpipesContext500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Returns the specified ClickPipe.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the service that owns the ClickPipe..</param>
        /// <param name="clickPipeId">Required parameter: ID of the requested ClickPipe..</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickpipesClickPipeIdResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesClickpipesClickPipeIdResponse> ClickPipeGet(
                Guid organizationId,
                Guid serviceId,
                Guid clickPipeId)
            => CoreHelper.RunTask(ClickPipeGetAsync(organizationId, serviceId, clickPipeId));

        /// <summary>
        /// Returns the specified ClickPipe.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the service that owns the ClickPipe..</param>
        /// <param name="clickPipeId">Required parameter: ID of the requested ClickPipe..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickpipesClickPipeIdResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesClickpipesClickPipeIdResponse>> ClickPipeGetAsync(
                Guid organizationId,
                Guid serviceId,
                Guid clickPipeId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesClickpipesClickPipeIdResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/organizations/{organizationId}/services/{serviceId}/clickpipes/{clickPipeId}")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))
                      .Template(template => template.Setup("clickPipeId", clickPipeId))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServicesClickpipesClickPipeId400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesClickpipesClickPipeId500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Update the specified ClickPipe. Source fields not present in the per-source update schemas are immutable after creation. For Kafka sources, values submitted for immutable fields (type, format, brokers, topics, consumerGroup, offset, schemaRegistry, exactlyOnce) are not applied, except schema registry credentials, which are rejected.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the service to create the ClickPipe for..</param>
        /// <param name="clickPipeId">Required parameter: ID of the requested ClickPipe..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickpipesClickPipeIdResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesClickpipesClickPipeIdResponse> ClickPipeUpdate(
                Guid organizationId,
                Guid serviceId,
                Guid clickPipeId,
                Models.ClickPipePatchRequest body = null)
            => CoreHelper.RunTask(ClickPipeUpdateAsync(organizationId, serviceId, clickPipeId, body));

        /// <summary>
        /// Update the specified ClickPipe. Source fields not present in the per-source update schemas are immutable after creation. For Kafka sources, values submitted for immutable fields (type, format, brokers, topics, consumerGroup, offset, schemaRegistry, exactlyOnce) are not applied, except schema registry credentials, which are rejected.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the service to create the ClickPipe for..</param>
        /// <param name="clickPipeId">Required parameter: ID of the requested ClickPipe..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickpipesClickPipeIdResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesClickpipesClickPipeIdResponse>> ClickPipeUpdateAsync(
                Guid organizationId,
                Guid serviceId,
                Guid clickPipeId,
                Models.ClickPipePatchRequest body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesClickpipesClickPipeIdResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(new HttpMethod("PATCH"), "/v1/organizations/{organizationId}/services/{serviceId}/clickpipes/{clickPipeId}")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))
                      .Template(template => template.Setup("clickPipeId", clickPipeId))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServicesClickpipesClickPipeId400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesClickpipesClickPipeId500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Delete the specified ClickPipe.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the service that owns the ClickPipe..</param>
        /// <param name="clickPipeId">Required parameter: ID of the ClickPipe to delete..</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickpipesClickPipeIdResponse2 response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesClickpipesClickPipeIdResponse2> ClickPipeDelete(
                Guid organizationId,
                Guid serviceId,
                Guid clickPipeId)
            => CoreHelper.RunTask(ClickPipeDeleteAsync(organizationId, serviceId, clickPipeId));

        /// <summary>
        /// Delete the specified ClickPipe.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the service that owns the ClickPipe..</param>
        /// <param name="clickPipeId">Required parameter: ID of the ClickPipe to delete..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickpipesClickPipeIdResponse2 response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesClickpipesClickPipeIdResponse2>> ClickPipeDeleteAsync(
                Guid organizationId,
                Guid serviceId,
                Guid clickPipeId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesClickpipesClickPipeIdResponse2>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Delete, "/v1/organizations/{organizationId}/services/{serviceId}/clickpipes/{clickPipeId}")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))
                      .Template(template => template.Setup("clickPipeId", clickPipeId))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServicesClickpipesClickPipeId400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesClickpipesClickPipeId500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Returns the advanced settings for the specified ClickPipe.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the service that owns the ClickPipe..</param>
        /// <param name="clickPipeId">Required parameter: ID of the ClickPipe to get settings for..</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickpipesClickPipeIdSettingsResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesClickpipesClickPipeIdSettingsResponse> ClickPipeSettingsGet(
                Guid organizationId,
                Guid serviceId,
                Guid clickPipeId)
            => CoreHelper.RunTask(ClickPipeSettingsGetAsync(organizationId, serviceId, clickPipeId));

        /// <summary>
        /// Returns the advanced settings for the specified ClickPipe.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the service that owns the ClickPipe..</param>
        /// <param name="clickPipeId">Required parameter: ID of the ClickPipe to get settings for..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickpipesClickPipeIdSettingsResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesClickpipesClickPipeIdSettingsResponse>> ClickPipeSettingsGetAsync(
                Guid organizationId,
                Guid serviceId,
                Guid clickPipeId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesClickpipesClickPipeIdSettingsResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/organizations/{organizationId}/services/{serviceId}/clickpipes/{clickPipeId}/settings")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))
                      .Template(template => template.Setup("clickPipeId", clickPipeId))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServicesClickpipesClickPipeIdSettings400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesClickpipesClickPipeIdSettings500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Update the advanced settings for the specified ClickPipe. Send key-value pairs where values can be strings, numbers, or booleans.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the service that owns the ClickPipe..</param>
        /// <param name="clickPipeId">Required parameter: ID of the ClickPipe to update settings for..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickpipesClickPipeIdSettingsResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesClickpipesClickPipeIdSettingsResponse> ClickPipeSettingsUpdate(
                Guid organizationId,
                Guid serviceId,
                Guid clickPipeId,
                Models.ClickPipeSettingsPutRequest body = null)
            => CoreHelper.RunTask(ClickPipeSettingsUpdateAsync(organizationId, serviceId, clickPipeId, body));

        /// <summary>
        /// Update the advanced settings for the specified ClickPipe. Send key-value pairs where values can be strings, numbers, or booleans.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the service that owns the ClickPipe..</param>
        /// <param name="clickPipeId">Required parameter: ID of the ClickPipe to update settings for..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickpipesClickPipeIdSettingsResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesClickpipesClickPipeIdSettingsResponse>> ClickPipeSettingsUpdateAsync(
                Guid organizationId,
                Guid serviceId,
                Guid clickPipeId,
                Models.ClickPipeSettingsPutRequest body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesClickpipesClickPipeIdSettingsResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Put, "/v1/organizations/{organizationId}/services/{serviceId}/clickpipes/{clickPipeId}/settings")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))
                      .Template(template => template.Setup("clickPipeId", clickPipeId))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServicesClickpipesClickPipeIdSettings400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesClickpipesClickPipeIdSettings500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> Infers the schema (field names and ClickHouse data types) of a ClickPipe source without creating a pipe. Supported for Kafka, Kinesis, Pub/Sub, and object storage sources. Object storage inference runs on the destination service, which must be running.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the service to run schema discovery against..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickpipesSchemaDiscoveryResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesClickpipesSchemaDiscoveryResponse> ClickPipeSchemaDiscovery(
                Guid organizationId,
                Guid serviceId,
                Models.ClickPipeSchemaDiscoveryRequest body = null)
            => CoreHelper.RunTask(ClickPipeSchemaDiscoveryAsync(organizationId, serviceId, body));

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> Infers the schema (field names and ClickHouse data types) of a ClickPipe source without creating a pipe. Supported for Kafka, Kinesis, Pub/Sub, and object storage sources. Object storage inference runs on the destination service, which must be running.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the service to run schema discovery against..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickpipesSchemaDiscoveryResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesClickpipesSchemaDiscoveryResponse>> ClickPipeSchemaDiscoveryAsync(
                Guid organizationId,
                Guid serviceId,
                Models.ClickPipeSchemaDiscoveryRequest body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesClickpipesSchemaDiscoveryResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/organizations/{organizationId}/services/{serviceId}/clickpipes/schemaDiscovery")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServicesClickpipesSchemaDiscovery400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesClickpipesSchemaDiscovery500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Change scaling settings for the specified ClickPipe. This endpoint supports Kafka, Kinesis, and object storage pipes (S3, GCS, Azure Blob).
        /// **Note:** For database ClickPipes (PostgreSQL, MySQL, MongoDB, BigQuery), use the [Update CDC ClickPipes scaling](#tag/ClickPipes/operation/clickPipeCdcScalingUpdate) endpoint instead.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the service that owns the ClickPipe..</param>
        /// <param name="clickPipeId">Required parameter: ID of the ClickPipe to update scaling settings..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickpipesClickPipeIdScalingResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesClickpipesClickPipeIdScalingResponse> ClickPipeScalingUpdate(
                Guid organizationId,
                Guid serviceId,
                Guid clickPipeId,
                Models.ClickPipeScalingPatchRequest body = null)
            => CoreHelper.RunTask(ClickPipeScalingUpdateAsync(organizationId, serviceId, clickPipeId, body));

        /// <summary>
        /// Change scaling settings for the specified ClickPipe. This endpoint supports Kafka, Kinesis, and object storage pipes (S3, GCS, Azure Blob).
        /// **Note:** For database ClickPipes (PostgreSQL, MySQL, MongoDB, BigQuery), use the [Update CDC ClickPipes scaling](#tag/ClickPipes/operation/clickPipeCdcScalingUpdate) endpoint instead.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the service that owns the ClickPipe..</param>
        /// <param name="clickPipeId">Required parameter: ID of the ClickPipe to update scaling settings..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickpipesClickPipeIdScalingResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesClickpipesClickPipeIdScalingResponse>> ClickPipeScalingUpdateAsync(
                Guid organizationId,
                Guid serviceId,
                Guid clickPipeId,
                Models.ClickPipeScalingPatchRequest body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesClickpipesClickPipeIdScalingResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(new HttpMethod("PATCH"), "/v1/organizations/{organizationId}/services/{serviceId}/clickpipes/{clickPipeId}/scaling")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))
                      .Template(template => template.Setup("clickPipeId", clickPipeId))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServicesClickpipesClickPipeIdScaling400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesClickpipesClickPipeIdScaling500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Start, stop or resync ClickPipe. Stopping a ClickPipe will stop the ingestion process from any state. Starting is allowed for ClickPipes in the "Stopped" state or with a "Failed" state. Resyncing is only for Postgres and MySQL pipes and can be done from any state.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the service that owns the ClickPipe..</param>
        /// <param name="clickPipeId">Required parameter: ID of the ClickPipe to update state..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickpipesClickPipeIdStateResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesClickpipesClickPipeIdStateResponse> ClickPipeStateUpdate(
                Guid organizationId,
                Guid serviceId,
                Guid clickPipeId,
                Models.ClickPipeStatePatchRequest body = null)
            => CoreHelper.RunTask(ClickPipeStateUpdateAsync(organizationId, serviceId, clickPipeId, body));

        /// <summary>
        /// Start, stop or resync ClickPipe. Stopping a ClickPipe will stop the ingestion process from any state. Starting is allowed for ClickPipes in the "Stopped" state or with a "Failed" state. Resyncing is only for Postgres and MySQL pipes and can be done from any state.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the service that owns the ClickPipe..</param>
        /// <param name="clickPipeId">Required parameter: ID of the ClickPipe to update state..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickpipesClickPipeIdStateResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesClickpipesClickPipeIdStateResponse>> ClickPipeStateUpdateAsync(
                Guid organizationId,
                Guid serviceId,
                Guid clickPipeId,
                Models.ClickPipeStatePatchRequest body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesClickpipesClickPipeIdStateResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(new HttpMethod("PATCH"), "/v1/organizations/{organizationId}/services/{serviceId}/clickpipes/{clickPipeId}/state")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))
                      .Template(template => template.Setup("clickPipeId", clickPipeId))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServicesClickpipesClickPipeIdState400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesClickpipesClickPipeIdState500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Get scaling settings for database ClickPipes (PostgreSQL, MySQL, MongoDB, BigQuery).
        /// The infrastructure is shared between all database ClickPipes in the service, both for initial load and CDC. For billing purposes, 2 CPU cores and 8 GB of RAM [correspond](https://clickhouse.com/docs/cloud/manage/billing/overview#clickpipes-for-postgres-cdc) to one compute unit.
        /// **Note:** For Kafka, Kinesis, and object storage pipes (S3, GCS, Azure Blob), see [Get ClickPipe](#tag/ClickPipes/operation/clickPipeGet).
        /// **This endpoint becomes available once at least one database ClickPipe was provisioned.**.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the service that owns the ClickPipe..</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickpipesCdcScalingResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesClickpipesCdcScalingResponse> ClickPipeCdcScalingGet(
                Guid organizationId,
                Guid serviceId)
            => CoreHelper.RunTask(ClickPipeCdcScalingGetAsync(organizationId, serviceId));

        /// <summary>
        /// Get scaling settings for database ClickPipes (PostgreSQL, MySQL, MongoDB, BigQuery).
        /// The infrastructure is shared between all database ClickPipes in the service, both for initial load and CDC. For billing purposes, 2 CPU cores and 8 GB of RAM [correspond](https://clickhouse.com/docs/cloud/manage/billing/overview#clickpipes-for-postgres-cdc) to one compute unit.
        /// **Note:** For Kafka, Kinesis, and object storage pipes (S3, GCS, Azure Blob), see [Get ClickPipe](#tag/ClickPipes/operation/clickPipeGet).
        /// **This endpoint becomes available once at least one database ClickPipe was provisioned.**.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the service that owns the ClickPipe..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickpipesCdcScalingResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesClickpipesCdcScalingResponse>> ClickPipeCdcScalingGetAsync(
                Guid organizationId,
                Guid serviceId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesClickpipesCdcScalingResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/organizations/{organizationId}/services/{serviceId}/clickpipesCdcScaling")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServicesClickpipesCdcScaling400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesClickpipesCdcScaling500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Update scaling settings for database ClickPipes (PostgreSQL, MySQL, MongoDB, BigQuery).
        /// The infrastructure is shared between all database ClickPipes in the service, both for initial load and CDC. Scaling settings may take a few minutes to fully propagate.
        /// For billing purposes, 2 CPU cores and 8 GB of RAM [correspond](https://clickhouse.com/docs/cloud/manage/billing/overview#clickpipes-for-postgres-cdc) to one compute unit. If your organization tier changes, database ClickPipes will be [rescaled](https://clickhouse.com/docs/cloud/manage/billing/overview#compute) appropriately.
        /// **Note:** For Kafka, Kinesis, and object storage pipes (S3, GCS, Azure Blob), see [Get ClickPipe](#tag/ClickPipes/operation/clickPipeGet).
        /// **This endpoint becomes available once at least one database ClickPipe was provisioned.**.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the service that owns the ClickPipe..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickpipesCdcScalingResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesClickpipesCdcScalingResponse> ClickPipeCdcScalingUpdate(
                Guid organizationId,
                Guid serviceId,
                Models.ClickPipesCdcScalingPatchRequest body = null)
            => CoreHelper.RunTask(ClickPipeCdcScalingUpdateAsync(organizationId, serviceId, body));

        /// <summary>
        /// Update scaling settings for database ClickPipes (PostgreSQL, MySQL, MongoDB, BigQuery).
        /// The infrastructure is shared between all database ClickPipes in the service, both for initial load and CDC. Scaling settings may take a few minutes to fully propagate.
        /// For billing purposes, 2 CPU cores and 8 GB of RAM [correspond](https://clickhouse.com/docs/cloud/manage/billing/overview#clickpipes-for-postgres-cdc) to one compute unit. If your organization tier changes, database ClickPipes will be [rescaled](https://clickhouse.com/docs/cloud/manage/billing/overview#compute) appropriately.
        /// **Note:** For Kafka, Kinesis, and object storage pipes (S3, GCS, Azure Blob), see [Get ClickPipe](#tag/ClickPipes/operation/clickPipeGet).
        /// **This endpoint becomes available once at least one database ClickPipe was provisioned.**.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the service that owns the ClickPipe..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickpipesCdcScalingResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesClickpipesCdcScalingResponse>> ClickPipeCdcScalingUpdateAsync(
                Guid organizationId,
                Guid serviceId,
                Models.ClickPipesCdcScalingPatchRequest body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesClickpipesCdcScalingResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(new HttpMethod("PATCH"), "/v1/organizations/{organizationId}/services/{serviceId}/clickpipesCdcScaling")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServicesClickpipesCdcScaling400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesClickpipesCdcScaling500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Returns a list of reverse private endpoints for the specified service.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the service that owns the Reverse Private Endpoint..</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickpipesReversePrivateEndpointsResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesClickpipesReversePrivateEndpointsResponse> ClickPipeReversePrivateEndpointGetList(
                Guid organizationId,
                Guid serviceId)
            => CoreHelper.RunTask(ClickPipeReversePrivateEndpointGetListAsync(organizationId, serviceId));

        /// <summary>
        /// Returns a list of reverse private endpoints for the specified service.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the service that owns the Reverse Private Endpoint..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickpipesReversePrivateEndpointsResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesClickpipesReversePrivateEndpointsResponse>> ClickPipeReversePrivateEndpointGetListAsync(
                Guid organizationId,
                Guid serviceId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesClickpipesReversePrivateEndpointsResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/organizations/{organizationId}/services/{serviceId}/clickpipesReversePrivateEndpoints")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServicesClickpipesReversePrivateEndpoints400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesClickpipesReversePrivateEndpoints500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Create a new reverse private endpoint.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the service that owns the Reverse Private Endpoint..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickpipesReversePrivateEndpointsResponse1 response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesClickpipesReversePrivateEndpointsResponse1> ClickPipeReversePrivateEndpointCreate(
                Guid organizationId,
                Guid serviceId,
                Models.CreateReversePrivateEndpoint body = null)
            => CoreHelper.RunTask(ClickPipeReversePrivateEndpointCreateAsync(organizationId, serviceId, body));

        /// <summary>
        /// Create a new reverse private endpoint.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the service that owns the Reverse Private Endpoint..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickpipesReversePrivateEndpointsResponse1 response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesClickpipesReversePrivateEndpointsResponse1>> ClickPipeReversePrivateEndpointCreateAsync(
                Guid organizationId,
                Guid serviceId,
                Models.CreateReversePrivateEndpoint body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesClickpipesReversePrivateEndpointsResponse1>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/organizations/{organizationId}/services/{serviceId}/clickpipesReversePrivateEndpoints")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServicesClickpipesReversePrivateEndpoints400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesClickpipesReversePrivateEndpoints500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Returns the reverse private endpoint with the specified ID.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the service that owns the Reverse Private Endpoint..</param>
        /// <param name="reversePrivateEndpointId">Required parameter: ID of the reverse private endpoint to get..</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickpipesReversePrivateEndpointsReversePrivateEndpointIdResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesClickpipesReversePrivateEndpointsReversePrivateEndpointIdResponse> ClickPipeReversePrivateEndpointGet(
                Guid organizationId,
                Guid serviceId,
                Guid reversePrivateEndpointId)
            => CoreHelper.RunTask(ClickPipeReversePrivateEndpointGetAsync(organizationId, serviceId, reversePrivateEndpointId));

        /// <summary>
        /// Returns the reverse private endpoint with the specified ID.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the service that owns the Reverse Private Endpoint..</param>
        /// <param name="reversePrivateEndpointId">Required parameter: ID of the reverse private endpoint to get..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickpipesReversePrivateEndpointsReversePrivateEndpointIdResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesClickpipesReversePrivateEndpointsReversePrivateEndpointIdResponse>> ClickPipeReversePrivateEndpointGetAsync(
                Guid organizationId,
                Guid serviceId,
                Guid reversePrivateEndpointId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesClickpipesReversePrivateEndpointsReversePrivateEndpointIdResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/organizations/{organizationId}/services/{serviceId}/clickpipesReversePrivateEndpoints/{reversePrivateEndpointId}")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))
                      .Template(template => template.Setup("reversePrivateEndpointId", reversePrivateEndpointId))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServicesClickpipesReversePrivateEndpointsReversePrivateEndpointId400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesClickpipesReversePrivateEndpointsReversePrivateEndpointId500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Delete the reverse private endpoint with the specified ID.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the service that owns the Reverse Private Endpoint..</param>
        /// <param name="reversePrivateEndpointId">Required parameter: ID of the reverse private endpoint to delete..</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickpipesReversePrivateEndpointsReversePrivateEndpointIdResponse1 response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesClickpipesReversePrivateEndpointsReversePrivateEndpointIdResponse1> ClickPipeReversePrivateEndpointDelete(
                Guid organizationId,
                Guid serviceId,
                Guid reversePrivateEndpointId)
            => CoreHelper.RunTask(ClickPipeReversePrivateEndpointDeleteAsync(organizationId, serviceId, reversePrivateEndpointId));

        /// <summary>
        /// Delete the reverse private endpoint with the specified ID.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the service that owns the Reverse Private Endpoint..</param>
        /// <param name="reversePrivateEndpointId">Required parameter: ID of the reverse private endpoint to delete..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickpipesReversePrivateEndpointsReversePrivateEndpointIdResponse1 response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesClickpipesReversePrivateEndpointsReversePrivateEndpointIdResponse1>> ClickPipeReversePrivateEndpointDeleteAsync(
                Guid organizationId,
                Guid serviceId,
                Guid reversePrivateEndpointId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesClickpipesReversePrivateEndpointsReversePrivateEndpointIdResponse1>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Delete, "/v1/organizations/{organizationId}/services/{serviceId}/clickpipesReversePrivateEndpoints/{reversePrivateEndpointId}")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))
                      .Template(template => template.Setup("reversePrivateEndpointId", reversePrivateEndpointId))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServicesClickpipesReversePrivateEndpointsReversePrivateEndpointId400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesClickpipesReversePrivateEndpointsReversePrivateEndpointId500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Update mutable fields for an existing reverse private endpoint. customPrivateDnsMappings is a full replacement list. Use an empty array to clear mappings.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the service that owns the Reverse Private Endpoint..</param>
        /// <param name="reversePrivateEndpointId">Required parameter: ID of the reverse private endpoint to update..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickpipesReversePrivateEndpointsReversePrivateEndpointIdResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesClickpipesReversePrivateEndpointsReversePrivateEndpointIdResponse> ClickPipeReversePrivateEndpointUpdate(
                Guid organizationId,
                Guid serviceId,
                Guid reversePrivateEndpointId,
                Models.UpdateReversePrivateEndpoint body = null)
            => CoreHelper.RunTask(ClickPipeReversePrivateEndpointUpdateAsync(organizationId, serviceId, reversePrivateEndpointId, body));

        /// <summary>
        /// Update mutable fields for an existing reverse private endpoint. customPrivateDnsMappings is a full replacement list. Use an empty array to clear mappings.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the service that owns the Reverse Private Endpoint..</param>
        /// <param name="reversePrivateEndpointId">Required parameter: ID of the reverse private endpoint to update..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickpipesReversePrivateEndpointsReversePrivateEndpointIdResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesClickpipesReversePrivateEndpointsReversePrivateEndpointIdResponse>> ClickPipeReversePrivateEndpointUpdateAsync(
                Guid organizationId,
                Guid serviceId,
                Guid reversePrivateEndpointId,
                Models.UpdateReversePrivateEndpoint body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesClickpipesReversePrivateEndpointsReversePrivateEndpointIdResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(new HttpMethod("PATCH"), "/v1/organizations/{organizationId}/services/{serviceId}/clickpipesReversePrivateEndpoints/{reversePrivateEndpointId}")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))
                      .Template(template => template.Setup("reversePrivateEndpointId", reversePrivateEndpointId))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServicesClickpipesReversePrivateEndpointsReversePrivateEndpointId400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesClickpipesReversePrivateEndpointsReversePrivateEndpointId500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}