// <copyright file="ClickStackApi.cs" company="APIMatic">
// OpenApiSpecForClickHouseCloud.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using OpenApiSpecForClickHouseCloud.Standard.Exceptions;
using OpenApiSpecForClickHouseCloud.Standard.Http.Response;
using OpenApiSpecForClickHouseCloud.Standard.Models.Containers;
using System;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;

namespace OpenApiSpecForClickHouseCloud.Standard.Apis
{
    /// <summary>
    /// ClickStackApi.
    /// </summary>
    public class ClickStackApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="ClickStackApi"/> class.
        /// </summary>
        internal ClickStackApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> ClickStack: Retrieves a list of all dashboards for the authenticated team.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the ClickStack service..</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickstackDashboardsResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesClickstackDashboardsResponse> ClickStackListDashboards(
                Guid organizationId,
                Guid serviceId)
            => CoreHelper.RunTask(ClickStackListDashboardsAsync(organizationId, serviceId));

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> ClickStack: Retrieves a list of all dashboards for the authenticated team.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the ClickStack service..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickstackDashboardsResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesClickstackDashboardsResponse>> ClickStackListDashboardsAsync(
                Guid organizationId,
                Guid serviceId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesClickstackDashboardsResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/organizations/{organizationId}/services/{serviceId}/clickstack/dashboards")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServicesClickstackDashboards400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesClickstackDashboards500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> ClickStack: Creates a new dashboard.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the ClickStack service..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickstackDashboardsResponse1 response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesClickstackDashboardsResponse1> ClickStackCreateDashboard(
                Guid organizationId,
                Guid serviceId,
                Models.ClickStackCreateDashboardRequest body = null)
            => CoreHelper.RunTask(ClickStackCreateDashboardAsync(organizationId, serviceId, body));

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> ClickStack: Creates a new dashboard.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the ClickStack service..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickstackDashboardsResponse1 response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesClickstackDashboardsResponse1>> ClickStackCreateDashboardAsync(
                Guid organizationId,
                Guid serviceId,
                Models.ClickStackCreateDashboardRequest body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesClickstackDashboardsResponse1>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/organizations/{organizationId}/services/{serviceId}/clickstack/dashboards")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServicesClickstackDashboards400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesClickstackDashboards500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> ClickStack: Retrieves a specific dashboard by ID.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the ClickStack service..</param>
        /// <param name="clickStackDashboardId">Required parameter: ClickStack Dashboard ID.</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickstackDashboardsClickStackDashboardIdResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesClickstackDashboardsClickStackDashboardIdResponse> ClickStackGetDashboard(
                Guid organizationId,
                Guid serviceId,
                string clickStackDashboardId)
            => CoreHelper.RunTask(ClickStackGetDashboardAsync(organizationId, serviceId, clickStackDashboardId));

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> ClickStack: Retrieves a specific dashboard by ID.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the ClickStack service..</param>
        /// <param name="clickStackDashboardId">Required parameter: ClickStack Dashboard ID.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickstackDashboardsClickStackDashboardIdResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesClickstackDashboardsClickStackDashboardIdResponse>> ClickStackGetDashboardAsync(
                Guid organizationId,
                Guid serviceId,
                string clickStackDashboardId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesClickstackDashboardsClickStackDashboardIdResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/organizations/{organizationId}/services/{serviceId}/clickstack/dashboards/{clickStackDashboardId}")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))
                      .Template(template => template.Setup("clickStackDashboardId", clickStackDashboardId).Required())))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServicesClickstackDashboardsClickStackDashboardId400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesClickstackDashboardsClickStackDashboardId500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> ClickStack: Updates an existing dashboard.  **Concurrency:** This endpoint does not support optimistic concurrency control. Concurrent PUT requests for the same dashboard may silently overwrite each other, which can leave orphan tile-to-container references on layout-shape edits. Clients should serialize edits to a given dashboard.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the ClickStack service..</param>
        /// <param name="clickStackDashboardId">Required parameter: ClickStack Dashboard ID.</param>
        /// <param name="body">Optional parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickstackDashboardsClickStackDashboardIdResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesClickstackDashboardsClickStackDashboardIdResponse> ClickStackUpdateDashboard(
                Guid organizationId,
                Guid serviceId,
                string clickStackDashboardId,
                Models.ClickStackUpdateDashboardRequest body = null)
            => CoreHelper.RunTask(ClickStackUpdateDashboardAsync(organizationId, serviceId, clickStackDashboardId, body));

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> ClickStack: Updates an existing dashboard.  **Concurrency:** This endpoint does not support optimistic concurrency control. Concurrent PUT requests for the same dashboard may silently overwrite each other, which can leave orphan tile-to-container references on layout-shape edits. Clients should serialize edits to a given dashboard.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the ClickStack service..</param>
        /// <param name="clickStackDashboardId">Required parameter: ClickStack Dashboard ID.</param>
        /// <param name="body">Optional parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickstackDashboardsClickStackDashboardIdResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesClickstackDashboardsClickStackDashboardIdResponse>> ClickStackUpdateDashboardAsync(
                Guid organizationId,
                Guid serviceId,
                string clickStackDashboardId,
                Models.ClickStackUpdateDashboardRequest body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesClickstackDashboardsClickStackDashboardIdResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Put, "/v1/organizations/{organizationId}/services/{serviceId}/clickstack/dashboards/{clickStackDashboardId}")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))
                      .Template(template => template.Setup("clickStackDashboardId", clickStackDashboardId).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServicesClickstackDashboardsClickStackDashboardId400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesClickstackDashboardsClickStackDashboardId500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> ClickStack: Deletes a dashboard.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the ClickStack service..</param>
        /// <param name="clickStackDashboardId">Required parameter: ClickStack Dashboard ID.</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickstackDashboardsClickStackDashboardIdResponse2 response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesClickstackDashboardsClickStackDashboardIdResponse2> ClickStackDeleteDashboard(
                Guid organizationId,
                Guid serviceId,
                string clickStackDashboardId)
            => CoreHelper.RunTask(ClickStackDeleteDashboardAsync(organizationId, serviceId, clickStackDashboardId));

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> ClickStack: Deletes a dashboard.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the ClickStack service..</param>
        /// <param name="clickStackDashboardId">Required parameter: ClickStack Dashboard ID.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickstackDashboardsClickStackDashboardIdResponse2 response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesClickstackDashboardsClickStackDashboardIdResponse2>> ClickStackDeleteDashboardAsync(
                Guid organizationId,
                Guid serviceId,
                string clickStackDashboardId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesClickstackDashboardsClickStackDashboardIdResponse2>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Delete, "/v1/organizations/{organizationId}/services/{serviceId}/clickstack/dashboards/{clickStackDashboardId}")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))
                      .Template(template => template.Setup("clickStackDashboardId", clickStackDashboardId).Required())))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServicesClickstackDashboardsClickStackDashboardId400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesClickstackDashboardsClickStackDashboardId500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> ClickStack: Validates a dashboard body against the same schema and tile rules used by POST /api/v2/dashboards. The dashboard is **never persisted**. Use this endpoint at plan time (e.g. from a Terraform provider) to check that a dashboard configuration is valid before applying it.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the ClickStack service..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickstackDashboardsValidateResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesClickstackDashboardsValidateResponse> ClickStackValidateDashboard(
                Guid organizationId,
                Guid serviceId,
                Models.ClickStackCreateDashboardRequest body = null)
            => CoreHelper.RunTask(ClickStackValidateDashboardAsync(organizationId, serviceId, body));

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> ClickStack: Validates a dashboard body against the same schema and tile rules used by POST /api/v2/dashboards. The dashboard is **never persisted**. Use this endpoint at plan time (e.g. from a Terraform provider) to check that a dashboard configuration is valid before applying it.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the ClickStack service..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickstackDashboardsValidateResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesClickstackDashboardsValidateResponse>> ClickStackValidateDashboardAsync(
                Guid organizationId,
                Guid serviceId,
                Models.ClickStackCreateDashboardRequest body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesClickstackDashboardsValidateResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/organizations/{organizationId}/services/{serviceId}/clickstack/dashboards/validate")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServicesClickstackDashboardsValidate400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesClickstackDashboardsValidate500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> ClickStack: Retrieves alerts for the authenticated team (paginated). Results are capped at `limit` (default and maximum 1000). When `totalCount` exceeds the number of returned items, page with `limit`/`offset` to retrieve them all.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the ClickStack service..</param>
        /// <param name="limit">Optional parameter: Maximum number of results to return..</param>
        /// <param name="offset">Optional parameter: Number of results to skip before returning..</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickstackAlertsResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesClickstackAlertsResponse> ClickStackListAlerts(
                Guid organizationId,
                Guid serviceId,
                int? limit = 1000,
                int? offset = 0)
            => CoreHelper.RunTask(ClickStackListAlertsAsync(organizationId, serviceId, limit, offset));

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> ClickStack: Retrieves alerts for the authenticated team (paginated). Results are capped at `limit` (default and maximum 1000). When `totalCount` exceeds the number of returned items, page with `limit`/`offset` to retrieve them all.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the ClickStack service..</param>
        /// <param name="limit">Optional parameter: Maximum number of results to return..</param>
        /// <param name="offset">Optional parameter: Number of results to skip before returning..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickstackAlertsResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesClickstackAlertsResponse>> ClickStackListAlertsAsync(
                Guid organizationId,
                Guid serviceId,
                int? limit = 1000,
                int? offset = 0,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesClickstackAlertsResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/organizations/{organizationId}/services/{serviceId}/clickstack/alerts")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))
                      .Query(query => query.Setup("limit", limit ?? 1000))
                      .Query(query => query.Setup("offset", offset ?? 0))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServicesClickstackAlerts400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesClickstackAlerts500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> ClickStack: Creates a new alert.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the ClickStack service..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickstackAlertsResponse1 response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesClickstackAlertsResponse1> ClickStackCreateAlert(
                Guid organizationId,
                Guid serviceId,
                Models.ClickStackCreateAlertRequest body = null)
            => CoreHelper.RunTask(ClickStackCreateAlertAsync(organizationId, serviceId, body));

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> ClickStack: Creates a new alert.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the ClickStack service..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickstackAlertsResponse1 response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesClickstackAlertsResponse1>> ClickStackCreateAlertAsync(
                Guid organizationId,
                Guid serviceId,
                Models.ClickStackCreateAlertRequest body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesClickstackAlertsResponse1>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/organizations/{organizationId}/services/{serviceId}/clickstack/alerts")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServicesClickstackAlerts400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesClickstackAlerts500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> ClickStack: Retrieves a list of all sources for the authenticated team.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the ClickStack service..</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickstackSourcesResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesClickstackSourcesResponse> ClickStackListSources(
                Guid organizationId,
                Guid serviceId)
            => CoreHelper.RunTask(ClickStackListSourcesAsync(organizationId, serviceId));

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> ClickStack: Retrieves a list of all sources for the authenticated team.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the ClickStack service..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickstackSourcesResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesClickstackSourcesResponse>> ClickStackListSourcesAsync(
                Guid organizationId,
                Guid serviceId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesClickstackSourcesResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/organizations/{organizationId}/services/{serviceId}/clickstack/sources")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServicesClickstackSources400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesClickstackSources500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> ClickStack: Creates a new source.  The request body is a source object without the `id` field. If an `id` is sent anyway it is silently ignored (stripped before validation — the request is never rejected because of it). Granularity fields (`materializedViews[].minGranularity` and `metadataMaterializedViews.granularity`) accept the same short format the API returns (e.g. `5m`, `15s`, `1h`, `1d`).
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the ClickStack service..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickstackSourcesResponse1 response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesClickstackSourcesResponse1> ClickStackCreateSource(
                Guid organizationId,
                Guid serviceId,
                ClickStackSource body = null)
            => CoreHelper.RunTask(ClickStackCreateSourceAsync(organizationId, serviceId, body));

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> ClickStack: Creates a new source.  The request body is a source object without the `id` field. If an `id` is sent anyway it is silently ignored (stripped before validation — the request is never rejected because of it). Granularity fields (`materializedViews[].minGranularity` and `metadataMaterializedViews.granularity`) accept the same short format the API returns (e.g. `5m`, `15s`, `1h`, `1d`).
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the ClickStack service..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickstackSourcesResponse1 response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesClickstackSourcesResponse1>> ClickStackCreateSourceAsync(
                Guid organizationId,
                Guid serviceId,
                ClickStackSource body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesClickstackSourcesResponse1>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/organizations/{organizationId}/services/{serviceId}/clickstack/sources")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServicesClickstackSources400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesClickstackSources500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> ClickStack: Retrieves a specific source by ID.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the ClickStack service..</param>
        /// <param name="clickStackSourceId">Required parameter: Source ID.</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickstackSourcesClickStackSourceIdResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesClickstackSourcesClickStackSourceIdResponse> ClickStackGetSource(
                Guid organizationId,
                Guid serviceId,
                string clickStackSourceId)
            => CoreHelper.RunTask(ClickStackGetSourceAsync(organizationId, serviceId, clickStackSourceId));

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> ClickStack: Retrieves a specific source by ID.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the ClickStack service..</param>
        /// <param name="clickStackSourceId">Required parameter: Source ID.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickstackSourcesClickStackSourceIdResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesClickstackSourcesClickStackSourceIdResponse>> ClickStackGetSourceAsync(
                Guid organizationId,
                Guid serviceId,
                string clickStackSourceId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesClickstackSourcesClickStackSourceIdResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/organizations/{organizationId}/services/{serviceId}/clickstack/sources/{clickStackSourceId}")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))
                      .Template(template => template.Setup("clickStackSourceId", clickStackSourceId).Required())))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServicesClickstackSourcesClickStackSourceId400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesClickstackSourcesClickStackSourceId500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> ClickStack: Updates an existing source. The full source object must be provided; this is a replace, not a patch.  The request body is a source object without the `id` field. If an `id` is sent anyway it is silently ignored (stripped before validation — never a 400); the path parameter alone identifies the source. Granularity fields (`materializedViews[].minGranularity` and `metadataMaterializedViews.granularity`) accept the same short format the API returns (e.g. `5m`, `15s`, `1h`, `1d`).
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the ClickStack service..</param>
        /// <param name="clickStackSourceId">Required parameter: Source ID.</param>
        /// <param name="body">Optional parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickstackSourcesClickStackSourceIdResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesClickstackSourcesClickStackSourceIdResponse> ClickStackUpdateSource(
                Guid organizationId,
                Guid serviceId,
                string clickStackSourceId,
                ClickStackSource body = null)
            => CoreHelper.RunTask(ClickStackUpdateSourceAsync(organizationId, serviceId, clickStackSourceId, body));

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> ClickStack: Updates an existing source. The full source object must be provided; this is a replace, not a patch.  The request body is a source object without the `id` field. If an `id` is sent anyway it is silently ignored (stripped before validation — never a 400); the path parameter alone identifies the source. Granularity fields (`materializedViews[].minGranularity` and `metadataMaterializedViews.granularity`) accept the same short format the API returns (e.g. `5m`, `15s`, `1h`, `1d`).
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the ClickStack service..</param>
        /// <param name="clickStackSourceId">Required parameter: Source ID.</param>
        /// <param name="body">Optional parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickstackSourcesClickStackSourceIdResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesClickstackSourcesClickStackSourceIdResponse>> ClickStackUpdateSourceAsync(
                Guid organizationId,
                Guid serviceId,
                string clickStackSourceId,
                ClickStackSource body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesClickstackSourcesClickStackSourceIdResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Put, "/v1/organizations/{organizationId}/services/{serviceId}/clickstack/sources/{clickStackSourceId}")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))
                      .Template(template => template.Setup("clickStackSourceId", clickStackSourceId).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServicesClickstackSourcesClickStackSourceId400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesClickstackSourcesClickStackSourceId500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> ClickStack: Deletes a source.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the ClickStack service..</param>
        /// <param name="clickStackSourceId">Required parameter: Source ID.</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickstackSourcesClickStackSourceIdResponse2 response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesClickstackSourcesClickStackSourceIdResponse2> ClickStackDeleteSource(
                Guid organizationId,
                Guid serviceId,
                string clickStackSourceId)
            => CoreHelper.RunTask(ClickStackDeleteSourceAsync(organizationId, serviceId, clickStackSourceId));

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> ClickStack: Deletes a source.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the ClickStack service..</param>
        /// <param name="clickStackSourceId">Required parameter: Source ID.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickstackSourcesClickStackSourceIdResponse2 response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesClickstackSourcesClickStackSourceIdResponse2>> ClickStackDeleteSourceAsync(
                Guid organizationId,
                Guid serviceId,
                string clickStackSourceId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesClickstackSourcesClickStackSourceIdResponse2>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Delete, "/v1/organizations/{organizationId}/services/{serviceId}/clickstack/sources/{clickStackSourceId}")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))
                      .Template(template => template.Setup("clickStackSourceId", clickStackSourceId).Required())))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServicesClickstackSourcesClickStackSourceId400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesClickstackSourcesClickStackSourceId500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> ClickStack: Retrieves a specific alert by ID.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the ClickStack service..</param>
        /// <param name="clickStackAlertId">Required parameter: ClickStack Alert ID.</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickstackAlertsClickStackAlertIdResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesClickstackAlertsClickStackAlertIdResponse> ClickStackGetAlert(
                Guid organizationId,
                Guid serviceId,
                string clickStackAlertId)
            => CoreHelper.RunTask(ClickStackGetAlertAsync(organizationId, serviceId, clickStackAlertId));

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> ClickStack: Retrieves a specific alert by ID.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the ClickStack service..</param>
        /// <param name="clickStackAlertId">Required parameter: ClickStack Alert ID.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickstackAlertsClickStackAlertIdResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesClickstackAlertsClickStackAlertIdResponse>> ClickStackGetAlertAsync(
                Guid organizationId,
                Guid serviceId,
                string clickStackAlertId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesClickstackAlertsClickStackAlertIdResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/organizations/{organizationId}/services/{serviceId}/clickstack/alerts/{clickStackAlertId}")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))
                      .Template(template => template.Setup("clickStackAlertId", clickStackAlertId).Required())))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServicesClickstackAlertsClickStackAlertId400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesClickstackAlertsClickStackAlertId500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> ClickStack: Updates an existing alert.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the ClickStack service..</param>
        /// <param name="clickStackAlertId">Required parameter: ClickStack Alert ID.</param>
        /// <param name="body">Optional parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickstackAlertsClickStackAlertIdResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesClickstackAlertsClickStackAlertIdResponse> ClickStackUpdateAlert(
                Guid organizationId,
                Guid serviceId,
                string clickStackAlertId,
                Models.ClickStackUpdateAlertRequest body = null)
            => CoreHelper.RunTask(ClickStackUpdateAlertAsync(organizationId, serviceId, clickStackAlertId, body));

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> ClickStack: Updates an existing alert.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the ClickStack service..</param>
        /// <param name="clickStackAlertId">Required parameter: ClickStack Alert ID.</param>
        /// <param name="body">Optional parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickstackAlertsClickStackAlertIdResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesClickstackAlertsClickStackAlertIdResponse>> ClickStackUpdateAlertAsync(
                Guid organizationId,
                Guid serviceId,
                string clickStackAlertId,
                Models.ClickStackUpdateAlertRequest body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesClickstackAlertsClickStackAlertIdResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Put, "/v1/organizations/{organizationId}/services/{serviceId}/clickstack/alerts/{clickStackAlertId}")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))
                      .Template(template => template.Setup("clickStackAlertId", clickStackAlertId).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServicesClickstackAlertsClickStackAlertId400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesClickstackAlertsClickStackAlertId500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> ClickStack: Deletes an alert.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the ClickStack service..</param>
        /// <param name="clickStackAlertId">Required parameter: ClickStack Alert ID.</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickstackAlertsClickStackAlertIdResponse2 response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesClickstackAlertsClickStackAlertIdResponse2> ClickStackDeleteAlert(
                Guid organizationId,
                Guid serviceId,
                string clickStackAlertId)
            => CoreHelper.RunTask(ClickStackDeleteAlertAsync(organizationId, serviceId, clickStackAlertId));

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> ClickStack: Deletes an alert.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the ClickStack service..</param>
        /// <param name="clickStackAlertId">Required parameter: ClickStack Alert ID.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickstackAlertsClickStackAlertIdResponse2 response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesClickstackAlertsClickStackAlertIdResponse2>> ClickStackDeleteAlertAsync(
                Guid organizationId,
                Guid serviceId,
                string clickStackAlertId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesClickstackAlertsClickStackAlertIdResponse2>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Delete, "/v1/organizations/{organizationId}/services/{serviceId}/clickstack/alerts/{clickStackAlertId}")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))
                      .Template(template => template.Setup("clickStackAlertId", clickStackAlertId).Required())))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServicesClickstackAlertsClickStackAlertId400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesClickstackAlertsClickStackAlertId500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> ClickStack: Retrieves webhooks for the authenticated team (paginated). Results are capped at `limit` (default and maximum 1000). When `totalCount` exceeds the number of returned items, page with `limit`/`offset` to retrieve them all.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the ClickStack service..</param>
        /// <param name="limit">Optional parameter: Maximum number of results to return..</param>
        /// <param name="offset">Optional parameter: Number of results to skip before returning..</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickstackWebhooksResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesClickstackWebhooksResponse> ClickStackListWebhooks(
                Guid organizationId,
                Guid serviceId,
                int? limit = 1000,
                int? offset = 0)
            => CoreHelper.RunTask(ClickStackListWebhooksAsync(organizationId, serviceId, limit, offset));

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> ClickStack: Retrieves webhooks for the authenticated team (paginated). Results are capped at `limit` (default and maximum 1000). When `totalCount` exceeds the number of returned items, page with `limit`/`offset` to retrieve them all.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the ClickStack service..</param>
        /// <param name="limit">Optional parameter: Maximum number of results to return..</param>
        /// <param name="offset">Optional parameter: Number of results to skip before returning..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickstackWebhooksResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesClickstackWebhooksResponse>> ClickStackListWebhooksAsync(
                Guid organizationId,
                Guid serviceId,
                int? limit = 1000,
                int? offset = 0,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesClickstackWebhooksResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/organizations/{organizationId}/services/{serviceId}/clickstack/webhooks")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))
                      .Query(query => query.Setup("limit", limit ?? 1000))
                      .Query(query => query.Setup("offset", offset ?? 0))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServicesClickstackWebhooks400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesClickstackWebhooks500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> ClickStack: Creates a new webhook for the authenticated team.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the ClickStack service..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickstackWebhooksResponse1 response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesClickstackWebhooksResponse1> ClickStackCreateWebhook(
                Guid organizationId,
                Guid serviceId,
                Models.ClickStackWebhookInput body = null)
            => CoreHelper.RunTask(ClickStackCreateWebhookAsync(organizationId, serviceId, body));

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> ClickStack: Creates a new webhook for the authenticated team.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the ClickStack service..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickstackWebhooksResponse1 response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesClickstackWebhooksResponse1>> ClickStackCreateWebhookAsync(
                Guid organizationId,
                Guid serviceId,
                Models.ClickStackWebhookInput body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesClickstackWebhooksResponse1>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/organizations/{organizationId}/services/{serviceId}/clickstack/webhooks")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServicesClickstackWebhooks400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesClickstackWebhooks500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> ClickStack: Replaces an existing webhook. Readable optional fields (`description`, `body`) are a full replace: omitting them clears them. The write-only fields `headers` and `queryParams` are never returned on read, so omitting them preserves the stored values; send an explicit empty object (`{}`) to clear them. Exception: if the destination (`url` or `service`) changes, omitted `headers`/ `queryParams` are cleared rather than preserved so stored secrets are never forwarded to a new destination.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the ClickStack service..</param>
        /// <param name="clickStackWebhookId">Required parameter: Webhook ID.</param>
        /// <param name="body">Optional parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickstackWebhooksClickStackWebhookIdResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesClickstackWebhooksClickStackWebhookIdResponse> ClickStackUpdateWebhook(
                Guid organizationId,
                Guid serviceId,
                string clickStackWebhookId,
                Models.ClickStackWebhookInput body = null)
            => CoreHelper.RunTask(ClickStackUpdateWebhookAsync(organizationId, serviceId, clickStackWebhookId, body));

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> ClickStack: Replaces an existing webhook. Readable optional fields (`description`, `body`) are a full replace: omitting them clears them. The write-only fields `headers` and `queryParams` are never returned on read, so omitting them preserves the stored values; send an explicit empty object (`{}`) to clear them. Exception: if the destination (`url` or `service`) changes, omitted `headers`/ `queryParams` are cleared rather than preserved so stored secrets are never forwarded to a new destination.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the ClickStack service..</param>
        /// <param name="clickStackWebhookId">Required parameter: Webhook ID.</param>
        /// <param name="body">Optional parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickstackWebhooksClickStackWebhookIdResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesClickstackWebhooksClickStackWebhookIdResponse>> ClickStackUpdateWebhookAsync(
                Guid organizationId,
                Guid serviceId,
                string clickStackWebhookId,
                Models.ClickStackWebhookInput body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesClickstackWebhooksClickStackWebhookIdResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Put, "/v1/organizations/{organizationId}/services/{serviceId}/clickstack/webhooks/{clickStackWebhookId}")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))
                      .Template(template => template.Setup("clickStackWebhookId", clickStackWebhookId).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServicesClickstackWebhooksClickStackWebhookId400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesClickstackWebhooksClickStackWebhookId500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> ClickStack: Deletes a webhook. Blocked with a 409 while any alert still references it — reassign or remove those alerts first — so deletion never leaves an alert pointing at a missing webhook (which would silently drop notifications). Mirrors the internal webhook delete guard.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the ClickStack service..</param>
        /// <param name="clickStackWebhookId">Required parameter: Webhook ID.</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickstackWebhooksClickStackWebhookIdResponse1 response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesClickstackWebhooksClickStackWebhookIdResponse1> ClickStackDeleteWebhook(
                Guid organizationId,
                Guid serviceId,
                string clickStackWebhookId)
            => CoreHelper.RunTask(ClickStackDeleteWebhookAsync(organizationId, serviceId, clickStackWebhookId));

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> ClickStack: Deletes a webhook. Blocked with a 409 while any alert still references it — reassign or remove those alerts first — so deletion never leaves an alert pointing at a missing webhook (which would silently drop notifications). Mirrors the internal webhook delete guard.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the ClickStack service..</param>
        /// <param name="clickStackWebhookId">Required parameter: Webhook ID.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickstackWebhooksClickStackWebhookIdResponse1 response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesClickstackWebhooksClickStackWebhookIdResponse1>> ClickStackDeleteWebhookAsync(
                Guid organizationId,
                Guid serviceId,
                string clickStackWebhookId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesClickstackWebhooksClickStackWebhookIdResponse1>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Delete, "/v1/organizations/{organizationId}/services/{serviceId}/clickstack/webhooks/{clickStackWebhookId}")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))
                      .Template(template => template.Setup("clickStackWebhookId", clickStackWebhookId).Required())))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServicesClickstackWebhooksClickStackWebhookId400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesClickstackWebhooksClickStackWebhookId500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> ClickStack: Retrieves all roles for the authenticated team, including predefined roles.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the ClickStack service..</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickstackRolesResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesClickstackRolesResponse> ClickStackListRoles(
                Guid organizationId,
                Guid serviceId)
            => CoreHelper.RunTask(ClickStackListRolesAsync(organizationId, serviceId));

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> ClickStack: Retrieves all roles for the authenticated team, including predefined roles.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the ClickStack service..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickstackRolesResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesClickstackRolesResponse>> ClickStackListRolesAsync(
                Guid organizationId,
                Guid serviceId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesClickstackRolesResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/organizations/{organizationId}/services/{serviceId}/clickstack/roles")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServicesClickstackRoles400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesClickstackRoles500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> ClickStack: Creates a new custom role for the team.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the ClickStack service..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickstackRolesResponse1 response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesClickstackRolesResponse1> ClickStackCreateRole(
                Guid organizationId,
                Guid serviceId,
                Models.ClickStackCreateRoleRequest body = null)
            => CoreHelper.RunTask(ClickStackCreateRoleAsync(organizationId, serviceId, body));

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> ClickStack: Creates a new custom role for the team.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the ClickStack service..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickstackRolesResponse1 response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesClickstackRolesResponse1>> ClickStackCreateRoleAsync(
                Guid organizationId,
                Guid serviceId,
                Models.ClickStackCreateRoleRequest body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesClickstackRolesResponse1>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/organizations/{organizationId}/services/{serviceId}/clickstack/roles")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServicesClickstackRoles400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesClickstackRoles500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> ClickStack: Retrieves a specific role by ID.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the ClickStack service..</param>
        /// <param name="clickStackRoleId">Required parameter: id parameter.</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickstackRolesClickStackRoleIdResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesClickstackRolesClickStackRoleIdResponse> ClickStackGetRole(
                Guid organizationId,
                Guid serviceId,
                string clickStackRoleId)
            => CoreHelper.RunTask(ClickStackGetRoleAsync(organizationId, serviceId, clickStackRoleId));

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> ClickStack: Retrieves a specific role by ID.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the ClickStack service..</param>
        /// <param name="clickStackRoleId">Required parameter: id parameter.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickstackRolesClickStackRoleIdResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesClickstackRolesClickStackRoleIdResponse>> ClickStackGetRoleAsync(
                Guid organizationId,
                Guid serviceId,
                string clickStackRoleId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesClickstackRolesClickStackRoleIdResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/organizations/{organizationId}/services/{serviceId}/clickstack/roles/{clickStackRoleId}")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))
                      .Template(template => template.Setup("clickStackRoleId", clickStackRoleId).Required())))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServicesClickstackRolesClickStackRoleId400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesClickstackRolesClickStackRoleId500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> ClickStack: Updates a custom role's permissions, name, and description. Predefined roles cannot be modified.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the ClickStack service..</param>
        /// <param name="clickStackRoleId">Required parameter: id parameter.</param>
        /// <param name="body">Optional parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickstackRolesClickStackRoleIdResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesClickstackRolesClickStackRoleIdResponse> ClickStackUpdateRole(
                Guid organizationId,
                Guid serviceId,
                string clickStackRoleId,
                Models.ClickStackUpdateRoleRequest body = null)
            => CoreHelper.RunTask(ClickStackUpdateRoleAsync(organizationId, serviceId, clickStackRoleId, body));

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> ClickStack: Updates a custom role's permissions, name, and description. Predefined roles cannot be modified.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the ClickStack service..</param>
        /// <param name="clickStackRoleId">Required parameter: id parameter.</param>
        /// <param name="body">Optional parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickstackRolesClickStackRoleIdResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesClickstackRolesClickStackRoleIdResponse>> ClickStackUpdateRoleAsync(
                Guid organizationId,
                Guid serviceId,
                string clickStackRoleId,
                Models.ClickStackUpdateRoleRequest body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesClickstackRolesClickStackRoleIdResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Put, "/v1/organizations/{organizationId}/services/{serviceId}/clickstack/roles/{clickStackRoleId}")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))
                      .Template(template => template.Setup("clickStackRoleId", clickStackRoleId).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServicesClickstackRolesClickStackRoleId400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesClickstackRolesClickStackRoleId500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> ClickStack: Deletes a custom role. Predefined roles, the team default user role, and roles assigned to users cannot be deleted.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the ClickStack service..</param>
        /// <param name="clickStackRoleId">Required parameter: id parameter.</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickstackRolesClickStackRoleIdResponse2 response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesClickstackRolesClickStackRoleIdResponse2> ClickStackDeleteRole(
                Guid organizationId,
                Guid serviceId,
                string clickStackRoleId)
            => CoreHelper.RunTask(ClickStackDeleteRoleAsync(organizationId, serviceId, clickStackRoleId));

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> ClickStack: Deletes a custom role. Predefined roles, the team default user role, and roles assigned to users cannot be deleted.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the ClickStack service..</param>
        /// <param name="clickStackRoleId">Required parameter: id parameter.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickstackRolesClickStackRoleIdResponse2 response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesClickstackRolesClickStackRoleIdResponse2>> ClickStackDeleteRoleAsync(
                Guid organizationId,
                Guid serviceId,
                string clickStackRoleId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesClickstackRolesClickStackRoleIdResponse2>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Delete, "/v1/organizations/{organizationId}/services/{serviceId}/clickstack/roles/{clickStackRoleId}")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))
                      .Template(template => template.Setup("clickStackRoleId", clickStackRoleId).Required())))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServicesClickstackRolesClickStackRoleId400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesClickstackRolesClickStackRoleId500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> ClickStack: Retrieves saved searches for the authenticated team (paginated). Results are capped at `limit` (default and maximum 1000). When `totalCount` exceeds the number of returned items, page with `limit`/`offset` to retrieve them all.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the ClickStack service..</param>
        /// <param name="limit">Optional parameter: Maximum number of results to return..</param>
        /// <param name="offset">Optional parameter: Number of results to skip before returning..</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickstackSavedSearchesResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesClickstackSavedSearchesResponse> ClickStackListSavedSearches(
                Guid organizationId,
                Guid serviceId,
                int? limit = 1000,
                int? offset = 0)
            => CoreHelper.RunTask(ClickStackListSavedSearchesAsync(organizationId, serviceId, limit, offset));

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> ClickStack: Retrieves saved searches for the authenticated team (paginated). Results are capped at `limit` (default and maximum 1000). When `totalCount` exceeds the number of returned items, page with `limit`/`offset` to retrieve them all.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the ClickStack service..</param>
        /// <param name="limit">Optional parameter: Maximum number of results to return..</param>
        /// <param name="offset">Optional parameter: Number of results to skip before returning..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickstackSavedSearchesResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesClickstackSavedSearchesResponse>> ClickStackListSavedSearchesAsync(
                Guid organizationId,
                Guid serviceId,
                int? limit = 1000,
                int? offset = 0,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesClickstackSavedSearchesResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/organizations/{organizationId}/services/{serviceId}/clickstack/saved-searches")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))
                      .Query(query => query.Setup("limit", limit ?? 1000))
                      .Query(query => query.Setup("offset", offset ?? 0))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServicesClickstackSavedSearches400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesClickstackSavedSearches500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> ClickStack: Creates a new saved search.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the ClickStack service..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickstackSavedSearchesResponse1 response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesClickstackSavedSearchesResponse1> ClickStackCreateSavedSearch(
                Guid organizationId,
                Guid serviceId,
                Models.ClickStackSavedSearchInput body = null)
            => CoreHelper.RunTask(ClickStackCreateSavedSearchAsync(organizationId, serviceId, body));

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> ClickStack: Creates a new saved search.
        /// </summary>
[...]
