// <copyright file="OrganizationApi.cs" company="APIMatic">
// OpenApiSpecForClickHouseCloud.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using OpenApiSpecForClickHouseCloud.Standard.Exceptions;
using OpenApiSpecForClickHouseCloud.Standard.Http.Response;
using System;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;

namespace OpenApiSpecForClickHouseCloud.Standard.Apis
{
    /// <summary>
    /// OrganizationApi.
    /// </summary>
    public class OrganizationApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="OrganizationApi"/> class.
        /// </summary>
        internal OrganizationApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Returns a list with a single organization associated with the API key in the request.
        /// </summary>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsResponse> OrganizationGetList()
            => CoreHelper.RunTask(OrganizationGetListAsync());

        /// <summary>
        /// Returns a list with a single organization associated with the API key in the request.
        /// </summary>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsResponse>> OrganizationGetListAsync(CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/organizations")
                  .WithAuth("basicAuth"))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1Organizations400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1Organizations500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Returns details of a single organization. In order to get the details, the auth key must belong to the organization.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsResponse1 response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsResponse1> OrganizationGet(
                Guid organizationId)
            => CoreHelper.RunTask(OrganizationGetAsync(organizationId));

        /// <summary>
        /// Returns details of a single organization. In order to get the details, the auth key must belong to the organization.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsResponse1 response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsResponse1>> OrganizationGetAsync(
                Guid organizationId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsResponse1>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/organizations/{organizationId}")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1Organizations400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1Organizations500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Updates organization fields. Requires ADMIN auth key role.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization to update..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsResponse1 response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsResponse1> OrganizationUpdate(
                Guid organizationId,
                Models.OrganizationPatchRequest body = null)
            => CoreHelper.RunTask(OrganizationUpdateAsync(organizationId, body));

        /// <summary>
        /// Updates organization fields. Requires ADMIN auth key role.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization to update..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsResponse1 response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsResponse1>> OrganizationUpdateAsync(
                Guid organizationId,
                Models.OrganizationPatchRequest body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsResponse1>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(new HttpMethod("PATCH"), "/v1/organizations/{organizationId}")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1Organizations400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1Organizations500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// **Disclaimer:** This beta endpoint is evolving; the API contract may change. <br /><br /> Returns the resource quotas enforced for the organization together with their current usage where available. Quotas that do not apply to the organization are omitted. Quota values reflect the limits currently enforced, so they can be polled to detect changes, for example after a billing status change. The response contains one entry per quota code; quotas enforced per resource may additionally appear under resource-scoped endpoints in the future.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsQuotasResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsQuotasResponse> OrganizationQuotasGetList(
                Guid organizationId)
            => CoreHelper.RunTask(OrganizationQuotasGetListAsync(organizationId));

        /// <summary>
        /// **Disclaimer:** This beta endpoint is evolving; the API contract may change. <br /><br /> Returns the resource quotas enforced for the organization together with their current usage where available. Quotas that do not apply to the organization are omitted. Quota values reflect the limits currently enforced, so they can be polled to detect changes, for example after a billing status change. The response contains one entry per quota code; quotas enforced per resource may additionally appear under resource-scoped endpoints in the future.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsQuotasResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsQuotasResponse>> OrganizationQuotasGetListAsync(
                Guid organizationId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsQuotasResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/organizations/{organizationId}/quotas")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsQuotas400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsQuotas500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// **Disclaimer:** This beta endpoint is evolving; the API contract may change. <br /><br /> Returns a single organization quota identified by its quota code. Responds with a not found error when the quota code is unknown or the quota does not apply to the organization.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="quotaCode">Required parameter: Code of the requested quota..</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsQuotasResponse1 response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsQuotasResponse1> OrganizationQuotaGet(
                Guid organizationId,
                string quotaCode)
            => CoreHelper.RunTask(OrganizationQuotaGetAsync(organizationId, quotaCode));

        /// <summary>
        /// **Disclaimer:** This beta endpoint is evolving; the API contract may change. <br /><br /> Returns a single organization quota identified by its quota code. Responds with a not found error when the quota code is unknown or the quota does not apply to the organization.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="quotaCode">Required parameter: Code of the requested quota..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsQuotasResponse1 response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsQuotasResponse1>> OrganizationQuotaGetAsync(
                Guid organizationId,
                string quotaCode,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsQuotasResponse1>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/organizations/{organizationId}/quotas/{quotaCode}")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("quotaCode", quotaCode).Required())))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsQuotas400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsQuotas500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Returns a list of all organization activities.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="fromDate">Optional parameter: A starting date for a search.</param>
        /// <param name="toDate">Optional parameter: An ending date for a search.</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsActivitiesResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsActivitiesResponse> ActivityGetList(
                Guid organizationId,
                DateTime? fromDate = null,
                DateTime? toDate = null)
            => CoreHelper.RunTask(ActivityGetListAsync(organizationId, fromDate, toDate));

        /// <summary>
        /// Returns a list of all organization activities.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="fromDate">Optional parameter: A starting date for a search.</param>
        /// <param name="toDate">Optional parameter: An ending date for a search.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsActivitiesResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsActivitiesResponse>> ActivityGetListAsync(
                Guid organizationId,
                DateTime? fromDate = null,
                DateTime? toDate = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsActivitiesResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/organizations/{organizationId}/activities")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Query(query => query.Setup("from_date", fromDate.HasValue ? fromDate.Value.ToString("yyyy'-'MM'-'dd'T'HH':'mm':'ss.FFFFFFFK") : null))
                      .Query(query => query.Setup("to_date", toDate.HasValue ? toDate.Value.ToString("yyyy'-'MM'-'dd'T'HH':'mm':'ss.FFFFFFFK") : null))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsActivities400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsActivities500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Returns a single organization activity by ID.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="activityId">Required parameter: ID of the requested activity..</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsActivitiesResponse1 response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsActivitiesResponse1> ActivityGet(
                Guid organizationId,
                string activityId)
            => CoreHelper.RunTask(ActivityGetAsync(organizationId, activityId));

        /// <summary>
        /// Returns a single organization activity by ID.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="activityId">Required parameter: ID of the requested activity..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsActivitiesResponse1 response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsActivitiesResponse1>> ActivityGetAsync(
                Guid organizationId,
                string activityId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsActivitiesResponse1>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/organizations/{organizationId}/activities/{activityId}")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("activityId", activityId).Required())))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsActivities400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsActivities500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Deprecated. Please follow [documentation](https://clickhouse.com/docs/manage/security/aws-privatelink#add-endpoint-id-to-services-allow-list) for the updated process.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="cloudProvider">Required parameter: Cloud provider identifier. One of aws, gcp, or azure..</param>
        /// <param name="regionId">Required parameter: Region identifier within specific cloud providers..</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsPrivateEndpointConfigResponse response from the API call.</returns>
        [Obsolete]
        public ApiResponse<Models.V1OrganizationsPrivateEndpointConfigResponse> OrganizationPrivateEndpointConfigGetList(
                Guid organizationId,
                string cloudProvider,
                string regionId)
            => CoreHelper.RunTask(OrganizationPrivateEndpointConfigGetListAsync(organizationId, cloudProvider, regionId));

        /// <summary>
        /// Deprecated. Please follow [documentation](https://clickhouse.com/docs/manage/security/aws-privatelink#add-endpoint-id-to-services-allow-list) for the updated process.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="cloudProvider">Required parameter: Cloud provider identifier. One of aws, gcp, or azure..</param>
        /// <param name="regionId">Required parameter: Region identifier within specific cloud providers..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsPrivateEndpointConfigResponse response from the API call.</returns>
        [Obsolete]
        public async Task<ApiResponse<Models.V1OrganizationsPrivateEndpointConfigResponse>> OrganizationPrivateEndpointConfigGetListAsync(
                Guid organizationId,
                string cloudProvider,
                string regionId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsPrivateEndpointConfigResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/organizations/{organizationId}/privateEndpointConfig")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Query(query => query.Setup("cloud_provider", cloudProvider).Required())
                      .Query(query => query.Setup("region_id", regionId).Required())))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsPrivateEndpointConfig400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsPrivateEndpointConfig500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Create a new BYOC Infrastructure in the organization. Returns the configuration of the newly created infrastructure.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsByocInfrastructureResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsByocInfrastructureResponse> OrganizationByocInfrastructureCreate(
                Guid organizationId,
                Models.ByocInfrastructurePostRequest body = null)
            => CoreHelper.RunTask(OrganizationByocInfrastructureCreateAsync(organizationId, body));

        /// <summary>
        /// Create a new BYOC Infrastructure in the organization. Returns the configuration of the newly created infrastructure.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsByocInfrastructureResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsByocInfrastructureResponse>> OrganizationByocInfrastructureCreateAsync(
                Guid organizationId,
                Models.ByocInfrastructurePostRequest body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsByocInfrastructureResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/organizations/{organizationId}/byocInfrastructure")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsByocInfrastructure400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsByocInfrastructure500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Removes a BYOC Infrastructure from the organization.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="byocInfrastructureId">Required parameter: ID of the requested BYOC Infrastructure.</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsByocInfrastructureResponse1 response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsByocInfrastructureResponse1> OrganizationByocInfrastructureDelete(
                Guid organizationId,
                Guid byocInfrastructureId)
            => CoreHelper.RunTask(OrganizationByocInfrastructureDeleteAsync(organizationId, byocInfrastructureId));

        /// <summary>
        /// Removes a BYOC Infrastructure from the organization.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="byocInfrastructureId">Required parameter: ID of the requested BYOC Infrastructure.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsByocInfrastructureResponse1 response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsByocInfrastructureResponse1>> OrganizationByocInfrastructureDeleteAsync(
                Guid organizationId,
                Guid byocInfrastructureId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsByocInfrastructureResponse1>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Delete, "/v1/organizations/{organizationId}/byocInfrastructure/{byocInfrastructureId}")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("byocInfrastructureId", byocInfrastructureId))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsByocInfrastructure400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsByocInfrastructure500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Update configuration of the BYOC infrastructure. Returns the modified infrastructure.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="byocInfrastructureId">Required parameter: ID of the requested BYOC Infrastructure.</param>
        /// <param name="body">Optional parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsByocInfrastructureResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsByocInfrastructureResponse> OrganizationByocInfrastructureUpdate(
                Guid organizationId,
                Guid byocInfrastructureId,
                Models.ByocInfrastructurePatchRequest body = null)
            => CoreHelper.RunTask(OrganizationByocInfrastructureUpdateAsync(organizationId, byocInfrastructureId, body));

        /// <summary>
        /// Update configuration of the BYOC infrastructure. Returns the modified infrastructure.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="byocInfrastructureId">Required parameter: ID of the requested BYOC Infrastructure.</param>
        /// <param name="body">Optional parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsByocInfrastructureResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsByocInfrastructureResponse>> OrganizationByocInfrastructureUpdateAsync(
                Guid organizationId,
                Guid byocInfrastructureId,
                Models.ByocInfrastructurePatchRequest body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsByocInfrastructureResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(new HttpMethod("PATCH"), "/v1/organizations/{organizationId}/byocInfrastructure/{byocInfrastructureId}")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("byocInfrastructureId", byocInfrastructureId))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsByocInfrastructure400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsByocInfrastructure500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}