// <copyright file="PostgresApi.cs" company="APIMatic">
// OpenApiSpecForClickHouseCloud.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using OpenApiSpecForClickHouseCloud.Standard.Exceptions;
using OpenApiSpecForClickHouseCloud.Standard.Http.Response;
using System;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;

namespace OpenApiSpecForClickHouseCloud.Standard.Apis
{
    /// <summary>
    /// PostgresApi.
    /// </summary>
    public class PostgresApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="PostgresApi"/> class.
        /// </summary>
        internal PostgresApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> Creates a new Postgres service in the organization and returns it. The service is started asynchronously.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that will own the service..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsPostgresResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsPostgresResponse> PostgresServiceCreate(
                Guid organizationId,
                Models.PostgresServicePostRequest body = null)
            => CoreHelper.RunTask(PostgresServiceCreateAsync(organizationId, body));

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> Creates a new Postgres service in the organization and returns it. The service is started asynchronously.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that will own the service..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsPostgresResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsPostgresResponse>> PostgresServiceCreateAsync(
                Guid organizationId,
                Models.PostgresServicePostRequest body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsPostgresResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/organizations/{organizationId}/postgres")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsPostgres400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsPostgres500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> Returns a list of all Postgres services in the organization.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the services..</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsPostgresResponse1 response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsPostgresResponse1> PostgresServiceGetList(
                Guid organizationId)
            => CoreHelper.RunTask(PostgresServiceGetListAsync(organizationId));

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> Returns a list of all Postgres services in the organization.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the services..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsPostgresResponse1 response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsPostgresResponse1>> PostgresServiceGetListAsync(
                Guid organizationId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsPostgresResponse1>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/organizations/{organizationId}/postgres")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsPostgres400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsPostgres500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> Returns a Postgres service that belongs to the organization.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the Postgres service..</param>
        /// <param name="postgresId">Required parameter: ID of the requested Postgres service..</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsPostgresResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsPostgresResponse> PostgresServiceGet(
                Guid organizationId,
                Guid postgresId)
            => CoreHelper.RunTask(PostgresServiceGetAsync(organizationId, postgresId));

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> Returns a Postgres service that belongs to the organization.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the Postgres service..</param>
        /// <param name="postgresId">Required parameter: ID of the requested Postgres service..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsPostgresResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsPostgresResponse>> PostgresServiceGetAsync(
                Guid organizationId,
                Guid postgresId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsPostgresResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/organizations/{organizationId}/postgres/{postgresId}")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("postgresId", postgresId))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsPostgres400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsPostgres500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> Deletes a Postgres service that belongs to the organization.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the Postgres service..</param>
        /// <param name="postgresId">Required parameter: ID of the requested Postgres service..</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsPostgresResponse3 response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsPostgresResponse3> PostgresServiceDelete(
                Guid organizationId,
                Guid postgresId)
            => CoreHelper.RunTask(PostgresServiceDeleteAsync(organizationId, postgresId));

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> Deletes a Postgres service that belongs to the organization.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the Postgres service..</param>
        /// <param name="postgresId">Required parameter: ID of the requested Postgres service..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsPostgresResponse3 response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsPostgresResponse3>> PostgresServiceDeleteAsync(
                Guid organizationId,
                Guid postgresId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsPostgresResponse3>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Delete, "/v1/organizations/{organizationId}/postgres/{postgresId}")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("postgresId", postgresId))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsPostgres400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsPostgres500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> Update a Postgres service that belongs to the organization. **WARNING:** Changing the name also updates the host name and certificates for the service.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the Postgres service..</param>
        /// <param name="postgresId">Required parameter: ID of the requested Postgres service..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsPostgresResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsPostgresResponse> PostgresServicePatch(
                Guid organizationId,
                Guid postgresId,
                Models.PostgresServicePatchRequest body = null)
            => CoreHelper.RunTask(PostgresServicePatchAsync(organizationId, postgresId, body));

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> Update a Postgres service that belongs to the organization. **WARNING:** Changing the name also updates the host name and certificates for the service.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the Postgres service..</param>
        /// <param name="postgresId">Required parameter: ID of the requested Postgres service..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsPostgresResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsPostgresResponse>> PostgresServicePatchAsync(
                Guid organizationId,
                Guid postgresId,
                Models.PostgresServicePatchRequest body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsPostgresResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(new HttpMethod("PATCH"), "/v1/organizations/{organizationId}/postgres/{postgresId}")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("postgresId", postgresId))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsPostgres400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsPostgres500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> Download CA certificates for a PostgreSQL service.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the Postgres service..</param>
        /// <param name="postgresId">Required parameter: ID of the requested Postgres service..</param>
        /// <returns>Returns the ApiResponse of dynamic response from the API call.</returns>
        public ApiResponse<dynamic> PostgresServiceCertsGet(
                Guid organizationId,
                Guid postgresId)
            => CoreHelper.RunTask(PostgresServiceCertsGetAsync(organizationId, postgresId));

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> Download CA certificates for a PostgreSQL service.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the Postgres service..</param>
        /// <param name="postgresId">Required parameter: ID of the requested Postgres service..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of dynamic response from the API call.</returns>
        public async Task<ApiResponse<dynamic>> PostgresServiceCertsGetAsync(
                Guid organizationId,
                Guid postgresId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<dynamic>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/organizations/{organizationId}/postgres/{postgresId}/caCertificates")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("postgresId", postgresId))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsPostgresCaCertificates400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsPostgresCaCertificates500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> Restore a Postgres database from continuous backup, optionally at a specific point in time.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the Postgres service..</param>
        /// <param name="postgresId">Required parameter: ID of the requested Postgres service..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsPostgresRestoredServiceResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsPostgresRestoredServiceResponse> PostgresInstanceRestore(
                Guid organizationId,
                Guid postgresId,
                Models.PostgresServiceRestoreRequest body = null)
            => CoreHelper.RunTask(PostgresInstanceRestoreAsync(organizationId, postgresId, body));

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> Restore a Postgres database from continuous backup, optionally at a specific point in time.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the Postgres service..</param>
        /// <param name="postgresId">Required parameter: ID of the requested Postgres service..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsPostgresRestoredServiceResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsPostgresRestoredServiceResponse>> PostgresInstanceRestoreAsync(
                Guid organizationId,
                Guid postgresId,
                Models.PostgresServiceRestoreRequest body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsPostgresRestoredServiceResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/organizations/{organizationId}/postgres/{postgresId}/restoredService")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("postgresId", postgresId))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsPostgresRestoredService400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsPostgresRestoredService500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> Sets a new password for a Postgres service's superuser account.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the Postgres service..</param>
        /// <param name="postgresId">Required parameter: ID of the requested Postgres service..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsPostgresPasswordResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsPostgresPasswordResponse> PostgresServiceSetPassword(
                Guid organizationId,
                Guid postgresId,
                Models.PostgresServiceSetPassword body = null)
            => CoreHelper.RunTask(PostgresServiceSetPasswordAsync(organizationId, postgresId, body));

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> Sets a new password for a Postgres service's superuser account.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the Postgres service..</param>
        /// <param name="postgresId">Required parameter: ID of the requested Postgres service..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsPostgresPasswordResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsPostgresPasswordResponse>> PostgresServiceSetPasswordAsync(
                Guid organizationId,
                Guid postgresId,
                Models.PostgresServiceSetPassword body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsPostgresPasswordResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(new HttpMethod("PATCH"), "/v1/organizations/{organizationId}/postgres/{postgresId}/password")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("postgresId", postgresId))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsPostgresPassword400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsPostgresPassword500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> Initiate a process for a Postgres service:.
        /// * restart: Initiates a service restart.
        /// * promote: Promotes a read replica to primary.
        /// * switchover: Switch a primary over to a standby.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the Postgres service..</param>
        /// <param name="postgresId">Required parameter: ID of the requested Postgres service..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsPostgresStateResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsPostgresStateResponse> PostgresServicePatchState(
                Guid organizationId,
                Guid postgresId,
                Models.PostgresServiceSetState body = null)
            => CoreHelper.RunTask(PostgresServicePatchStateAsync(organizationId, postgresId, body));

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> Initiate a process for a Postgres service:.
        /// * restart: Initiates a service restart.
        /// * promote: Promotes a read replica to primary.
        /// * switchover: Switch a primary over to a standby.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the Postgres service..</param>
        /// <param name="postgresId">Required parameter: ID of the requested Postgres service..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsPostgresStateResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsPostgresStateResponse>> PostgresServicePatchStateAsync(
                Guid organizationId,
                Guid postgresId,
                Models.PostgresServiceSetState body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsPostgresStateResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(new HttpMethod("PATCH"), "/v1/organizations/{organizationId}/postgres/{postgresId}/state")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("postgresId", postgresId))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsPostgresState400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsPostgresState500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> Initiate the process to create a new read replica for a Postgres service.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the Postgres service..</param>
        /// <param name="postgresId">Required parameter: ID of the requested Postgres service..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsPostgresReadReplicaResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsPostgresReadReplicaResponse> PostgresInstanceCreateReadReplica(
                Guid organizationId,
                Guid postgresId,
                Models.PostgresServiceReadReplicaRequest body = null)
            => CoreHelper.RunTask(PostgresInstanceCreateReadReplicaAsync(organizationId, postgresId, body));

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> Initiate the process to create a new read replica for a Postgres service.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the Postgres service..</param>
        /// <param name="postgresId">Required parameter: ID of the requested Postgres service..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsPostgresReadReplicaResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsPostgresReadReplicaResponse>> PostgresInstanceCreateReadReplicaAsync(
                Guid organizationId,
                Guid postgresId,
                Models.PostgresServiceReadReplicaRequest body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsPostgresReadReplicaResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/organizations/{organizationId}/postgres/{postgresId}/readReplica")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("postgresId", postgresId))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsPostgresReadReplica400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsPostgresReadReplica500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> Returns the configuration data for a Postgres service and its PgBouncer service.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the Postgres service..</param>
        /// <param name="postgresId">Required parameter: ID of the requested Postgres service..</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsPostgresConfigResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsPostgresConfigResponse> PostgresInstanceConfigGet(
                Guid organizationId,
                Guid postgresId)
            => CoreHelper.RunTask(PostgresInstanceConfigGetAsync(organizationId, postgresId));

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> Returns the configuration data for a Postgres service and its PgBouncer service.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the Postgres service..</param>
        /// <param name="postgresId">Required parameter: ID of the requested Postgres service..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsPostgresConfigResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsPostgresConfigResponse>> PostgresInstanceConfigGetAsync(
                Guid organizationId,
                Guid postgresId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsPostgresConfigResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/organizations/{organizationId}/postgres/{postgresId}/config")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("postgresId", postgresId))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsPostgresConfig400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsPostgresConfig500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> Replace the existing Postgres service and pgBouncer configuration.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the Postgres service..</param>
        /// <param name="postgresId">Required parameter: ID of the requested Postgres service..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsPostgresConfigResponse1 response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsPostgresConfigResponse1> PostgresInstanceConfigPost(
                Guid organizationId,
                Guid postgresId,
                Models.PostgresInstanceConfig body = null)
            => CoreHelper.RunTask(PostgresInstanceConfigPostAsync(organizationId, postgresId, body));

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> Replace the existing Postgres service and pgBouncer configuration.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the Postgres service..</param>
        /// <param name="postgresId">Required parameter: ID of the requested Postgres service..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsPostgresConfigResponse1 response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsPostgresConfigResponse1>> PostgresInstanceConfigPostAsync(
                Guid organizationId,
                Guid postgresId,
                Models.PostgresInstanceConfig body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsPostgresConfigResponse1>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/organizations/{organizationId}/postgres/{postgresId}/config")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("postgresId", postgresId))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsPostgresConfig400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsPostgresConfig500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> Update the existing Postgres service and pgBouncer configuration.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the Postgres service..</param>
        /// <param name="postgresId">Required parameter: ID of the requested Postgres service..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsPostgresConfigResponse1 response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsPostgresConfigResponse1> PostgresInstanceConfigPatch(
                Guid organizationId,
                Guid postgresId,
                Models.PostgresInstanceConfig body = null)
            => CoreHelper.RunTask(PostgresInstanceConfigPatchAsync(organizationId, postgresId, body));

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> Update the existing Postgres service and pgBouncer configuration.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the Postgres service..</param>
        /// <param name="postgresId">Required parameter: ID of the requested Postgres service..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsPostgresConfigResponse1 response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsPostgresConfigResponse1>> PostgresInstanceConfigPatchAsync(
                Guid organizationId,
                Guid postgresId,
                Models.PostgresInstanceConfig body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsPostgresConfigResponse1>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(new HttpMethod("PATCH"), "/v1/organizations/{organizationId}/postgres/{postgresId}/config")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("postgresId", postgresId))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsPostgresConfig400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsPostgresConfig500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> Returns bucketed time-series metrics for a PostgreSQL service over the requested window (CPU, memory, disk, network, connections, cache hit ratio, throughput, transactions, and more). Use this to chart or analyze how a service behaved over time.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the Postgres service..</param>
        /// <param name="postgresId">Required parameter: ID of the Postgres service..</param>
        /// <param name="fromDate">Required parameter: Inclusive start of the time window (RFC 3339 date-time)..</param>
        /// <param name="toDate">Required parameter: Exclusive end of the time window (RFC 3339 date-time)..</param>
        /// <param name="bucketSizeSeconds">Optional parameter: Time-series bucket size in seconds. When omitted, a bucket size is derived from the requested window. Requests are capped at 250 data points..</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsPostgresMetricsResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsPostgresMetricsResponse> PostgresInstanceMetricsGet(
                Guid organizationId,
                Guid postgresId,
                DateTime fromDate,
                DateTime toDate,
                int? bucketSizeSeconds = null)
            => CoreHelper.RunTask(PostgresInstanceMetricsGetAsync(organizationId, postgresId, fromDate, toDate, bucketSizeSeconds));

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> Returns bucketed time-series metrics for a PostgreSQL service over the requested window (CPU, memory, disk, network, connections, cache hit ratio, throughput, transactions, and more). Use this to chart or analyze how a service behaved over time.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the Postgres service..</param>
        /// <param name="postgresId">Required parameter: ID of the Postgres service..</param>
        /// <param name="fromDate">Required parameter: Inclusive start of the time window (RFC 3339 date-time)..</param>
        /// <param name="toDate">Required parameter: Exclusive end of the time window (RFC 3339 date-time)..</param>
        /// <param name="bucketSizeSeconds">Optional parameter: Time-series bucket size in seconds. When omitted, a bucket size is derived from the requested window. Requests are capped at 250 data points..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsPostgresMetricsResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsPostgresMetricsResponse>> PostgresInstanceMetricsGetAsync(
                Guid organizationId,
                Guid postgresId,
                DateTime fromDate,
                DateTime toDate,
                int? bucketSizeSeconds = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsPostgresMetricsResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/organizations/{organizationId}/postgres/{postgresId}/metrics")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("postgresId", postgresId))
                      .Query(query => query.Setup("from_date", fromDate.ToString("yyyy'-'MM'-'dd'T'HH':'mm':'ss.FFFFFFFK")))
                      .Query(query => query.Setup("to_date", toDate.ToString("yyyy'-'MM'-'dd'T'HH':'mm':'ss.FFFFFFFK")))
                      .Query(query => query.Setup("bucket_size_seconds", bucketSizeSeconds))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsPostgresMetrics400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsPostgresMetrics500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> Returns aggregate metrics for the slowest query patterns observed on a Postgres service during the given time window. Use this to discover which queries dominate total execution time, CPU, I/O, or WAL generation.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the Postgres service..</param>
        /// <param name="postgresId">Required parameter: ID of the requested Postgres service..</param>
        /// <param name="fromDate">Required parameter: Inclusive start of the time window (RFC 3339 date-time)..</param>
        /// <param name="toDate">Required parameter: Exclusive end of the time window (RFC 3339 date-time)..</param>
        /// <param name="dbName">Optional parameter: Database name filter..</param>
        /// <param name="dbUser">Optional parameter: Database user filter..</param>
        /// <param name="dbOperation">Optional parameter: Database operation filter (for example, SELECT, INSERT, UPDATE, DELETE, UTILITY)..</param>
        /// <param name="app">Optional parameter: Application name filter..</param>
        /// <param name="sortBy">Optional parameter: Field to sort results by..</param>
        /// <param name="sortOrder">Optional parameter: Sort order. One of `asc` or `desc`..</param>
        /// <param name="limit">Optional parameter: Maximum number of results to return..</param>
        /// <param name="offset">Optional parameter: Number of results to skip before returning..</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsPostgresSlowQueryPatternsResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsPostgresSlowQueryPatternsResponse> SlowQueryPatternsGetList(
                Guid organizationId,
                Guid postgresId,
                DateTime fromDate,
                DateTime toDate,
                string dbName = null,
                string dbUser = null,
                string dbOperation = null,
                string app = null,
                Models.SortBy? sortBy = Models.SortBy.TotalDuration,
                Models.SortOrder1? sortOrder = Models.SortOrder1.Desc,
                int? limit = 20,
                int? offset = 0)
            => CoreHelper.RunTask(SlowQueryPatternsGetListAsync(organizationId, postgresId, fromDate, toDate, dbName, dbUser, dbOperation, app, sortBy, sortOrder, limit, offset));

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> Returns aggregate metrics for the slowest query patterns observed on a Postgres service during the given time window. Use this to discover which queries dominate total execution time, CPU, I/O, or WAL generation.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the Postgres service..</param>
        /// <param name="postgresId">Required parameter: ID of the requested Postgres service..</param>
        /// <param name="fromDate">Required parameter: Inclusive start of the time window (RFC 3339 date-time)..</param>
        /// <param name="toDate">Required parameter: Exclusive end of the time window (RFC 3339 date-time)..</param>
        /// <param name="dbName">Optional parameter: Database name filter..</param>
        /// <param name="dbUser">Optional parameter: Database user filter..</param>
        /// <param name="dbOperation">Optional parameter: Database operation filter (for example, SELECT, INSERT, UPDATE, DELETE, UTILITY)..</param>
        /// <param name="app">Optional parameter: Application name filter..</param>
        /// <param name="sortBy">Optional parameter: Field to sort results by..</param>
        /// <param name="sortOrder">Optional parameter: Sort order. One of `asc` or `desc`..</param>
        /// <param name="limit">Optional parameter: Maximum number of results to return..</param>
        /// <param name="offset">Optional parameter: Number of results to skip before returning..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsPostgresSlowQueryPatternsResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsPostgresSlowQueryPatternsResponse>> SlowQueryPatternsGetListAsync(
                Guid organizationId,
                Guid postgresId,
                DateTime fromDate,
                DateTime toDate,
                string dbName = null,
                string dbUser = null,
                string dbOperation = null,
                string app = null,
                Models.SortBy? sortBy = Models.SortBy.TotalDuration,
                Models.SortOrder1? sortOrder = Models.SortOrder1.Desc,
                int? limit = 20,
                int? offset = 0,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsPostgresSlowQueryPatternsResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/organizations/{organizationId}/postgres/{postgresId}/slowQueryPatterns")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("postgresId", postgresId))
                      .Query(query => query.Setup("from_date", fromDate.ToString("yyyy'-'MM'-'dd'T'HH':'mm':'ss.FFFFFFFK")))
                      .Query(query => query.Setup("to_date", toDate.ToString("yyyy'-'MM'-'dd'T'HH':'mm':'ss.FFFFFFFK")))
                      .Query(query => query.Setup("db_name", dbName))
                      .Query(query => query.Setup("db_user", dbUser))
                      .Query(query => query.Setup("db_operation", dbOperation))
                      .Query(query => query.Setup("app", app))
                      .Query(query => query.Setup("sort_by", (sortBy.HasValue) ? CoreHelper.JsonSerialize(sortBy.Value).Trim('\"') : "total_duration"))
                      .Query(query => query.Setup("sort_order", (sortOrder.HasValue) ? CoreHelper.JsonSerialize(sortOrder.Value).Trim('\"') : "desc"))
                      .Query(query => query.Setup("limit", limit ?? 20))
                      .Query(query => query.Setup("offset", offset ?? 0))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsPostgresSlowQueryPatterns400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsPostgresSlowQueryPatterns500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> Returns aggregate metrics for a single slow query pattern together with its most recent individual executions.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the Postgres service..</param>
        /// <param name="postgresId">Required parameter: ID of the requested Postgres service..</param>
        /// <param name="queryId">Required parameter: Stable identifier for the query pattern..</param>
        /// <param name="dbName">Required parameter: Database name filter..</param>
        /// <param name="dbUser">Required parameter: Database user filter..</param>
        /// <param name="dbOperation">Required parameter: Database operation filter (for example, SELECT, INSERT, UPDATE, DELETE, UTILITY)..</param>
        /// <param name="app">Optional parameter: Application name filter..</param>
        /// <param name="timestamp">Optional parameter: Timestamp of a specific execution (RFC 3339)..</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsPostgresSlowQueryPatternsQueryIdResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsPostgresSlowQueryPatternsQueryIdResponse> SlowQueryPatternGet(
                Guid organizationId,
                Guid postgresId,
                string queryId,
                string dbName,
                string dbUser,
                string dbOperation,
                string app = null,
                DateTime? timestamp = null)
            => CoreHelper.RunTask(SlowQueryPatternGetAsync(organizationId, postgresId, queryId, dbName, dbUser, dbOperation, app, timestamp));

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> Returns aggregate metrics for a single slow query pattern together with its most recent individual executions.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the Postgres service..</param>
        /// <param name="postgresId">Required parameter: ID of the requested Postgres service..</param>
        /// <param name="queryId">Required parameter: Stable identifier for the query pattern..</param>
        /// <param name="dbName">Required parameter: Database name filter..</param>
        /// <param name="dbUser">Required parameter: Database user filter..</param>
        /// <param name="dbOperation">Required parameter: Database operation filter (for example, SELECT, INSERT, UPDATE, DELETE, UTILITY)..</param>
        /// <param name="app">Optional parameter: Application name filter..</param>
        /// <param name="timestamp">Optional parameter: Timestamp of a specific execution (RFC 3339)..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsPostgresSlowQueryPatternsQueryIdResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsPostgresSlowQueryPatternsQueryIdResponse>> SlowQueryPatternGetAsync(
                Guid organizationId,
                Guid postgresId,
                string queryId,
                string dbName,
                string dbUser,
                string dbOperation,
                string app = null,
                DateTime? timestamp = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsPostgresSlowQueryPatternsQueryIdResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/organizations/{organizationId}/postgres/{postgresId}/slowQueryPatterns/{queryId}")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("postgresId", postgresId))
                      .Template(template => template.Setup("queryId", queryId).Required())
                      .Query(query => query.Setup("db_name", dbName).Required())
                      .Query(query => query.Setup("db_user", dbUser).Required())
                      .Query(query => query.Setup("db_operation", dbOperation).Required())
                      .Query(query => query.Setup("app", app))
                      .Query(query => query.Setup("timestamp", timestamp.HasValue ? timestamp.Value.ToString("yyyy'-'MM'-'dd'T'HH':'mm':'ss.FFFFFFFK") : null))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsPostgresSlowQueryPatternsQueryId400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsPostgresSlowQueryPatternsQueryId500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> Returns PostgreSQL server log entries for a Postgres service within the given time window, most recent first by default (override with `sort_order`). Results are paginated with `limit`/`offset`; advance `offset` until a page returns fewer than `limit` entries to read the full window. The time range must not exceed 30 days, and `to_date` must be after `from_date`.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the Postgres service..</param>
        /// <param name="postgresId">Required parameter: ID of the requested Postgres service..</param>
        /// <param name="fromDate">Required parameter: Inclusive start of the time window (RFC 3339 date-time)..</param>
        /// <param name="toDate">Required parameter: Inclusive end of the time window (RFC 3339 date-time)..</param>
        /// <param name="bodyContains">Optional parameter: Case-sensitive substring the log body must contain..</param>
        /// <param name="severity">Optional parameter: Filter to log entries with this PostgreSQL severity (for example, ERROR, WARNING, LOG)..</param>
        /// <param name="sortOrder">Optional parameter: Sort order. One of `asc` or `desc`..</param>
        /// <param name="limit">Optional parameter: Maximum number of results to return..</param>
        /// <param name="offset">Optional parameter: Number of results to skip before returning..</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsPostgresLogsResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsPostgresLogsResponse> PostgresLogsGetList(
                Guid organizationId,
                Guid postgresId,
                DateTime fromDate,
                DateTime toDate,
                string bodyContains = null,
                string severity = null,
                Models.SortOrder1? sortOrder = Models.SortOrder1.Desc,
                int? limit = 50,
                int? offset = 0)
            => CoreHelper.RunTask(PostgresLogsGetListAsync(organizationId, postgresId, fromDate, toDate, bodyContains, severity, sortOrder, limit, offset));

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> Returns PostgreSQL server log entries for a Postgres service within the given time window, most recent first by default (override with `sort_order`). Results are paginated with `limit`/`offset`; advance `offset` until a page returns fewer than `limit` entries to read the full window. The time range must not exceed 30 days, and `to_date` must be after `from_date`.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the Postgres service..</param>
        /// <param name="postgresId">Required parameter: ID of the requested Postgres service..</param>
        /// <param name="fromDate">Required parameter: Inclusive start of the time window (RFC 3339 date-time)..</param>
        /// <param name="toDate">Required parameter: Inclusive end of the time window (RFC 3339 date-time)..</param>
        /// <param name="bodyContains">Optional parameter: Case-sensitive substring the log body must contain..</param>
        /// <param name="severity">Optional parameter: Filter to log entries with this PostgreSQL severity (for example, ERROR, WARNING, LOG)..</param>
        /// <param name="sortOrder">Optional parameter: Sort order. One of `asc` or `desc`..</param>
        /// <param name="limit">Optional parameter: Maximum number of results to return..</param>
        /// <param name="offset">Optional parameter: Number of results to skip before returning..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsPostgresLogsResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsPostgresLogsResponse>> PostgresLogsGetListAsync(
                Guid organizationId,
                Guid postgresId,
                DateTime fromDate,
                DateTime toDate,
                string bodyContains = null,
                string severity = null,
                Models.SortOrder1? sortOrder = Models.SortOrder1.Desc,
                int? limit = 50,
                int? offset = 0,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsPostgresLogsResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/organizations/{organizationId}/postgres/{postgresId}/logs")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("postgresId", postgresId))
                      .Query(query => query.Setup("from_date", fromDate.ToString("yyyy'-'MM'-'dd'T'HH':'mm':'ss.FFFFFFFK")))
                      .Query(query => query.Setup("to_date", toDate.ToString("yyyy'-'MM'-'dd'T'HH':'mm':'ss.FFFFFFFK")))
                      .Query(query => query.Setup("body_contains", bodyContains))
                      .Query(query => query.Setup("severity", severity))
                      .Query(query => query.Setup("sort_order", (sortOrder.HasValue) ? CoreHelper.JsonSerialize(sortOrder.Value).Trim('\"') : "desc"))
                      .Query(query => query.Setup("limit", limit ?? 50))
                      .Query(query => query.Setup("offset", offset ?? 0))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsPostgresLogs400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsPostgresLogs500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}