// <copyright file="PrometheusApi.cs" company="APIMatic">
// OpenApiSpecForClickHouseCloud.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using OpenApiSpecForClickHouseCloud.Standard.Exceptions;
using OpenApiSpecForClickHouseCloud.Standard.Http.Response;
using System;
using System.Collections.Generic;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;

namespace OpenApiSpecForClickHouseCloud.Standard.Apis
{
    /// <summary>
    /// PrometheusApi.
    /// </summary>
    public class PrometheusApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="PrometheusApi"/> class.
        /// </summary>
        internal PrometheusApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Deprecated. Use the Prometheus service discovery endpoint (/v1/organizations/{organizationId}/prometheus/discovery) instead. This endpoint is not available for new organizations; contact ClickHouse support to request access. Returns Prometheus metrics for the services in an organization that the caller is authorized to view. Services the caller lacks view access to are omitted.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="filteredMetrics">Optional parameter: Return a filtered list of Prometheus metrics..</param>
        /// <returns>Returns the ApiResponse of string response from the API call.</returns>
        [Obsolete]
        public ApiResponse<string> OrganizationPrometheusGet(
                Guid organizationId,
                string filteredMetrics = null)
            => CoreHelper.RunTask(OrganizationPrometheusGetAsync(organizationId, filteredMetrics));

        /// <summary>
        /// Deprecated. Use the Prometheus service discovery endpoint (/v1/organizations/{organizationId}/prometheus/discovery) instead. This endpoint is not available for new organizations; contact ClickHouse support to request access. Returns Prometheus metrics for the services in an organization that the caller is authorized to view. Services the caller lacks view access to are omitted.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="filteredMetrics">Optional parameter: Return a filtered list of Prometheus metrics..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of string response from the API call.</returns>
        [Obsolete]
        public async Task<ApiResponse<string>> OrganizationPrometheusGetAsync(
                Guid organizationId,
                string filteredMetrics = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<string>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/organizations/{organizationId}/prometheus")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Query(query => query.Setup("filtered_metrics", filteredMetrics))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsPrometheus400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsPrometheus500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Returns one Prometheus scrape target per service in the organization, in the [HTTP service discovery](https://prometheus.io/docs/prometheus/latest/http_sd/) (`http_sd`) format. Only services the API key is authorized to view are included; services that are being deleted or have been deleted are omitted.
        /// Point an [`http_sd_configs`](https://prometheus.io/docs/prometheus/latest/configuration/configuration/#http_sd_config) job at this endpoint to discover and scrape all services in the organization automatically. Prometheus refreshes the target list on every discovery poll, so newly created and deleted services are picked up without configuration changes.
        /// Discovered targets scrape with `filtered_metrics=true` by default; pass `?filtered_metrics=false` to this endpoint to discover unfiltered targets. See the [Prometheus integration guide](https://clickhouse.com/docs/integrations/prometheus) for more on the exported metrics.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="filteredMetrics">Optional parameter: Whether discovered targets scrape a filtered list of metrics. Sets the filtered_metrics parameter on each discovered target. Defaults to true..</param>
        /// <returns>Returns the ApiResponse of List of Models.PrometheusDiscoveryTargetGroup response from the API call.</returns>
        public ApiResponse<List<Models.PrometheusDiscoveryTargetGroup>> OrganizationPrometheusDiscoveryGet(
                Guid organizationId,
                string filteredMetrics = null)
            => CoreHelper.RunTask(OrganizationPrometheusDiscoveryGetAsync(organizationId, filteredMetrics));

        /// <summary>
        /// Returns one Prometheus scrape target per service in the organization, in the [HTTP service discovery](https://prometheus.io/docs/prometheus/latest/http_sd/) (`http_sd`) format. Only services the API key is authorized to view are included; services that are being deleted or have been deleted are omitted.
        /// Point an [`http_sd_configs`](https://prometheus.io/docs/prometheus/latest/configuration/configuration/#http_sd_config) job at this endpoint to discover and scrape all services in the organization automatically. Prometheus refreshes the target list on every discovery poll, so newly created and deleted services are picked up without configuration changes.
        /// Discovered targets scrape with `filtered_metrics=true` by default; pass `?filtered_metrics=false` to this endpoint to discover unfiltered targets. See the [Prometheus integration guide](https://clickhouse.com/docs/integrations/prometheus) for more on the exported metrics.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="filteredMetrics">Optional parameter: Whether discovered targets scrape a filtered list of metrics. Sets the filtered_metrics parameter on each discovered target. Defaults to true..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of List of Models.PrometheusDiscoveryTargetGroup response from the API call.</returns>
        public async Task<ApiResponse<List<Models.PrometheusDiscoveryTargetGroup>>> OrganizationPrometheusDiscoveryGetAsync(
                Guid organizationId,
                string filteredMetrics = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<List<Models.PrometheusDiscoveryTargetGroup>>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/organizations/{organizationId}/prometheus/discovery")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Query(query => query.Setup("filtered_metrics", filteredMetrics))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsPrometheusDiscovery400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsPrometheusDiscovery500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Returns prometheus metrics for a service.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the requested service..</param>
        /// <param name="filteredMetrics">Optional parameter: Return a filtered list of Prometheus metrics..</param>
        /// <returns>Returns the ApiResponse of string response from the API call.</returns>
        public ApiResponse<string> InstancePrometheusGet(
                Guid organizationId,
                Guid serviceId,
                string filteredMetrics = null)
            => CoreHelper.RunTask(InstancePrometheusGetAsync(organizationId, serviceId, filteredMetrics));

        /// <summary>
        /// Returns prometheus metrics for a service.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the requested service..</param>
        /// <param name="filteredMetrics">Optional parameter: Return a filtered list of Prometheus metrics..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of string response from the API call.</returns>
        public async Task<ApiResponse<string>> InstancePrometheusGetAsync(
                Guid organizationId,
                Guid serviceId,
                string filteredMetrics = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<string>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/organizations/{organizationId}/services/{serviceId}/prometheus")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))
                      .Query(query => query.Setup("filtered_metrics", filteredMetrics))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServicesPrometheus400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesPrometheus500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// **Disclaimer:** This beta endpoint is evolving; the API contract may change. <br /><br /> Returns Prometheus metrics for all PostgreSQL services in an organization. Maximum 100 services supported.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <returns>Returns the ApiResponse of string response from the API call.</returns>
        public ApiResponse<string> PostgresOrgPrometheusGet(
                Guid organizationId)
            => CoreHelper.RunTask(PostgresOrgPrometheusGetAsync(organizationId));

        /// <summary>
        /// **Disclaimer:** This beta endpoint is evolving; the API contract may change. <br /><br /> Returns Prometheus metrics for all PostgreSQL services in an organization. Maximum 100 services supported.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of string response from the API call.</returns>
        public async Task<ApiResponse<string>> PostgresOrgPrometheusGetAsync(
                Guid organizationId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<string>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/organizations/{organizationId}/postgres/prometheus")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsPostgresPrometheus400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsPostgresPrometheus500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// **Disclaimer:** This beta endpoint is evolving; the API contract may change. <br /><br /> Returns Prometheus metrics for a PostgreSQL service.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the Postgres service..</param>
        /// <param name="postgresId">Required parameter: ID of the requested Postgres service..</param>
        /// <returns>Returns the ApiResponse of string response from the API call.</returns>
        public ApiResponse<string> PostgresInstancePrometheusGet(
                Guid organizationId,
                Guid postgresId)
            => CoreHelper.RunTask(PostgresInstancePrometheusGetAsync(organizationId, postgresId));

        /// <summary>
        /// **Disclaimer:** This beta endpoint is evolving; the API contract may change. <br /><br /> Returns Prometheus metrics for a PostgreSQL service.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the Postgres service..</param>
        /// <param name="postgresId">Required parameter: ID of the requested Postgres service..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of string response from the API call.</returns>
        public async Task<ApiResponse<string>> PostgresInstancePrometheusGetAsync(
                Guid organizationId,
                Guid postgresId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<string>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/organizations/{organizationId}/postgres/{postgresId}/prometheus")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("postgresId", postgresId))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsPostgresPrometheus400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsPostgresPrometheus500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}