// <copyright file="QueryApiEndpointsApi.cs" company="APIMatic">
// OpenApiSpecForClickHouseCloud.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using OpenApiSpecForClickHouseCloud.Standard.Exceptions;
using OpenApiSpecForClickHouseCloud.Standard.Http.Response;
using System;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;

namespace OpenApiSpecForClickHouseCloud.Standard.Apis
{
    /// <summary>
    /// QueryApiEndpointsApi.
    /// </summary>
    public class QueryApiEndpointsApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="QueryApiEndpointsApi"/> class.
        /// </summary>
        internal QueryApiEndpointsApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// **Disclaimer:** This beta endpoint is evolving; the API contract may change. <br /><br /> Creates a Query API endpoint.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="serviceId">Required parameter: ID of the requested service..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesQueryApiEndpointsResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesQueryApiEndpointsResponse> QueryApiEndpointCreate(
                Guid organizationId,
                Guid serviceId,
                Models.PublicQueryApiEndpointRequest body = null)
            => CoreHelper.RunTask(QueryApiEndpointCreateAsync(organizationId, serviceId, body));

        /// <summary>
        /// **Disclaimer:** This beta endpoint is evolving; the API contract may change. <br /><br /> Creates a Query API endpoint.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="serviceId">Required parameter: ID of the requested service..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesQueryApiEndpointsResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesQueryApiEndpointsResponse>> QueryApiEndpointCreateAsync(
                Guid organizationId,
                Guid serviceId,
                Models.PublicQueryApiEndpointRequest body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesQueryApiEndpointsResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/organizations/{organizationId}/services/{serviceId}/query-api-endpoints")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error.", (errorReason, context) => new V1OrganizationsServicesQueryApiEndpoints400ErrorException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("The request is forbidden.", (errorReason, context) => new V1OrganizationsServicesQueryApiEndpoints403ErrorException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("Service not found.", (errorReason, context) => new V1OrganizationsServicesQueryApiEndpoints404ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesQueryApiEndpoints500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// **Disclaimer:** This beta endpoint is evolving; the API contract may change. <br /><br /> Returns all active Query API endpoints for the service.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="serviceId">Required parameter: ID of the requested service..</param>
        /// <param name="cursor">Optional parameter: Cursor returned in `pagination.nextCursor` from the previous page..</param>
        /// <param name="limit">Optional parameter: Maximum number of records to return per page. Defaults to 100. Maximum is 100..</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesQueryApiEndpointsResponse1 response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesQueryApiEndpointsResponse1> QueryApiEndpointList(
                Guid organizationId,
                Guid serviceId,
                string cursor = null,
                int? limit = 100)
            => CoreHelper.RunTask(QueryApiEndpointListAsync(organizationId, serviceId, cursor, limit));

        /// <summary>
        /// **Disclaimer:** This beta endpoint is evolving; the API contract may change. <br /><br /> Returns all active Query API endpoints for the service.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="serviceId">Required parameter: ID of the requested service..</param>
        /// <param name="cursor">Optional parameter: Cursor returned in `pagination.nextCursor` from the previous page..</param>
        /// <param name="limit">Optional parameter: Maximum number of records to return per page. Defaults to 100. Maximum is 100..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesQueryApiEndpointsResponse1 response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesQueryApiEndpointsResponse1>> QueryApiEndpointListAsync(
                Guid organizationId,
                Guid serviceId,
                string cursor = null,
                int? limit = 100,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesQueryApiEndpointsResponse1>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/organizations/{organizationId}/services/{serviceId}/query-api-endpoints")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))
                      .Query(query => query.Setup("cursor", cursor))
                      .Query(query => query.Setup("limit", limit ?? 100))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error.", (errorReason, context) => new V1OrganizationsServicesQueryApiEndpoints400ErrorException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("The request is forbidden.", (errorReason, context) => new V1OrganizationsServicesQueryApiEndpoints403ErrorException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("Service not found.", (errorReason, context) => new V1OrganizationsServicesQueryApiEndpoints404ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesQueryApiEndpoints500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// **Disclaimer:** This beta endpoint is evolving; the API contract may change. <br /><br /> Deletes a Query API endpoint.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="serviceId">Required parameter: ID of the requested service..</param>
        /// <param name="endpointId">Required parameter: ID of the requested Query API endpoint..</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesQueryApiEndpointsEndpointIdResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesQueryApiEndpointsEndpointIdResponse> QueryApiEndpointDelete(
                Guid organizationId,
                Guid serviceId,
                Guid endpointId)
            => CoreHelper.RunTask(QueryApiEndpointDeleteAsync(organizationId, serviceId, endpointId));

        /// <summary>
        /// **Disclaimer:** This beta endpoint is evolving; the API contract may change. <br /><br /> Deletes a Query API endpoint.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="serviceId">Required parameter: ID of the requested service..</param>
        /// <param name="endpointId">Required parameter: ID of the requested Query API endpoint..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesQueryApiEndpointsEndpointIdResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesQueryApiEndpointsEndpointIdResponse>> QueryApiEndpointDeleteAsync(
                Guid organizationId,
                Guid serviceId,
                Guid endpointId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesQueryApiEndpointsEndpointIdResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Delete, "/v1/organizations/{organizationId}/services/{serviceId}/query-api-endpoints/{endpointId}")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))
                      .Template(template => template.Setup("endpointId", endpointId))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServicesQueryApiEndpointsEndpointId400ErrorException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("The request is forbidden.", (errorReason, context) => new V1OrganizationsServicesQueryApiEndpointsEndpointId403ErrorException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("Query API endpoint not found.", (errorReason, context) => new V1OrganizationsServicesQueryApiEndpointsEndpointId404ErrorException(errorReason, context)))
                  .ErrorCase("409", CreateErrorCase("Query API endpoint can not be managed via this API.", (errorReason, context) => new V1OrganizationsServicesQueryApiEndpointsEndpointId409ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesQueryApiEndpointsEndpointId500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// **Disclaimer:** This beta endpoint is evolving; the API contract may change. <br /><br /> Returns a Query API endpoint.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="serviceId">Required parameter: ID of the requested service..</param>
        /// <param name="endpointId">Required parameter: ID of the requested Query API endpoint..</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesQueryApiEndpointsEndpointIdResponse1 response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesQueryApiEndpointsEndpointIdResponse1> QueryApiEndpointGet(
                Guid organizationId,
                Guid serviceId,
                Guid endpointId)
            => CoreHelper.RunTask(QueryApiEndpointGetAsync(organizationId, serviceId, endpointId));

        /// <summary>
        /// **Disclaimer:** This beta endpoint is evolving; the API contract may change. <br /><br /> Returns a Query API endpoint.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="serviceId">Required parameter: ID of the requested service..</param>
        /// <param name="endpointId">Required parameter: ID of the requested Query API endpoint..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesQueryApiEndpointsEndpointIdResponse1 response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesQueryApiEndpointsEndpointIdResponse1>> QueryApiEndpointGetAsync(
                Guid organizationId,
                Guid serviceId,
                Guid endpointId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesQueryApiEndpointsEndpointIdResponse1>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/organizations/{organizationId}/services/{serviceId}/query-api-endpoints/{endpointId}")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))
                      .Template(template => template.Setup("endpointId", endpointId))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServicesQueryApiEndpointsEndpointId400ErrorException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("The request is forbidden.", (errorReason, context) => new V1OrganizationsServicesQueryApiEndpointsEndpointId403ErrorException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("Query API endpoint not found.", (errorReason, context) => new V1OrganizationsServicesQueryApiEndpointsEndpointId404ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesQueryApiEndpointsEndpointId500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// **Disclaimer:** This beta endpoint is evolving; the API contract may change. <br /><br /> Updates a Query API endpoint.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="serviceId">Required parameter: ID of the requested service..</param>
        /// <param name="endpointId">Required parameter: ID of the requested Query API endpoint..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesQueryApiEndpointsEndpointIdResponse1 response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesQueryApiEndpointsEndpointIdResponse1> QueryApiEndpointUpdate(
                Guid organizationId,
                Guid serviceId,
                Guid endpointId,
                Models.PublicQueryApiEndpointRequest body = null)
            => CoreHelper.RunTask(QueryApiEndpointUpdateAsync(organizationId, serviceId, endpointId, body));

        /// <summary>
        /// **Disclaimer:** This beta endpoint is evolving; the API contract may change. <br /><br /> Updates a Query API endpoint.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="serviceId">Required parameter: ID of the requested service..</param>
        /// <param name="endpointId">Required parameter: ID of the requested Query API endpoint..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesQueryApiEndpointsEndpointIdResponse1 response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesQueryApiEndpointsEndpointIdResponse1>> QueryApiEndpointUpdateAsync(
                Guid organizationId,
                Guid serviceId,
                Guid endpointId,
                Models.PublicQueryApiEndpointRequest body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesQueryApiEndpointsEndpointIdResponse1>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Put, "/v1/organizations/{organizationId}/services/{serviceId}/query-api-endpoints/{endpointId}")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))
                      .Template(template => template.Setup("endpointId", endpointId))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error.", (errorReason, context) => new V1OrganizationsServicesQueryApiEndpointsEndpointId400Error3Exception(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("The request is forbidden.", (errorReason, context) => new V1OrganizationsServicesQueryApiEndpointsEndpointId403ErrorException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("Query API endpoint not found.", (errorReason, context) => new V1OrganizationsServicesQueryApiEndpointsEndpointId404ErrorException(errorReason, context)))
                  .ErrorCase("409", CreateErrorCase("Query API endpoint can not be managed via this API.", (errorReason, context) => new V1OrganizationsServicesQueryApiEndpointsEndpointId409ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesQueryApiEndpointsEndpointId500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}