// <copyright file="RoleManagementApi.cs" company="APIMatic">
// OpenApiSpecForClickHouseCloud.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using OpenApiSpecForClickHouseCloud.Standard.Exceptions;
using OpenApiSpecForClickHouseCloud.Standard.Http.Response;
using System;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;

namespace OpenApiSpecForClickHouseCloud.Standard.Apis
{
    /// <summary>
    /// RoleManagementApi.
    /// </summary>
    public class RoleManagementApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="RoleManagementApi"/> class.
        /// </summary>
        internal RoleManagementApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Returns all available roles (system + custom) for an organization.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsRolesResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsRolesResponse> OrganizationRolesGetList(
                Guid organizationId)
            => CoreHelper.RunTask(OrganizationRolesGetListAsync(organizationId));

        /// <summary>
        /// Returns all available roles (system + custom) for an organization.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsRolesResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsRolesResponse>> OrganizationRolesGetListAsync(
                Guid organizationId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsRolesResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/organizations/{organizationId}/roles")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsRoles400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsRoles500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Creates a new custom role for an organization with specified policies and actors.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsRolesResponse1 response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsRolesResponse1> OrganizationRolePost(
                Guid organizationId,
                Models.RoleCreateRequest body = null)
            => CoreHelper.RunTask(OrganizationRolePostAsync(organizationId, body));

        /// <summary>
        /// Creates a new custom role for an organization with specified policies and actors.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsRolesResponse1 response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsRolesResponse1>> OrganizationRolePostAsync(
                Guid organizationId,
                Models.RoleCreateRequest body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsRolesResponse1>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/organizations/{organizationId}/roles")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsRoles400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsRoles500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Returns details for a specific role.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="roleId">Required parameter: ID of the requested role..</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsRolesResponse1 response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsRolesResponse1> OrganizationRoleGet(
                Guid organizationId,
                Guid roleId)
            => CoreHelper.RunTask(OrganizationRoleGetAsync(organizationId, roleId));

        /// <summary>
        /// Returns details for a specific role.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="roleId">Required parameter: ID of the requested role..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsRolesResponse1 response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsRolesResponse1>> OrganizationRoleGetAsync(
                Guid organizationId,
                Guid roleId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsRolesResponse1>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/organizations/{organizationId}/roles/{roleId}")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("roleId", roleId))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsRoles400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsRoles500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Updates an existing custom role. System roles cannot be updated. All fields are optional - only provided fields will be updated.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="roleId">Required parameter: ID of the requested role..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsRolesResponse1 response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsRolesResponse1> OrganizationRolePatch(
                Guid organizationId,
                Guid roleId,
                Models.RoleUpdateRequest body = null)
            => CoreHelper.RunTask(OrganizationRolePatchAsync(organizationId, roleId, body));

        /// <summary>
        /// Updates an existing custom role. System roles cannot be updated. All fields are optional - only provided fields will be updated.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="roleId">Required parameter: ID of the requested role..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsRolesResponse1 response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsRolesResponse1>> OrganizationRolePatchAsync(
                Guid organizationId,
                Guid roleId,
                Models.RoleUpdateRequest body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsRolesResponse1>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(new HttpMethod("PATCH"), "/v1/organizations/{organizationId}/roles/{roleId}")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("roleId", roleId))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsRoles400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsRoles500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Deletes an existing custom role. System roles cannot be deleted. This operation will remove the role and all its associated policies.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="roleId">Required parameter: ID of the requested role..</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsRolesResponse4 response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsRolesResponse4> OrganizationRoleDelete(
                Guid organizationId,
                Guid roleId)
            => CoreHelper.RunTask(OrganizationRoleDeleteAsync(organizationId, roleId));

        /// <summary>
        /// Deletes an existing custom role. System roles cannot be deleted. This operation will remove the role and all its associated policies.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="roleId">Required parameter: ID of the requested role..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsRolesResponse4 response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsRolesResponse4>> OrganizationRoleDeleteAsync(
                Guid organizationId,
                Guid roleId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsRolesResponse4>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Delete, "/v1/organizations/{organizationId}/roles/{roleId}")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("roleId", roleId))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsRoles400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsRoles500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}