// <copyright file="ServiceApi.cs" company="APIMatic">
// OpenApiSpecForClickHouseCloud.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using OpenApiSpecForClickHouseCloud.Standard.Exceptions;
using OpenApiSpecForClickHouseCloud.Standard.Http.Response;
using System;
using System.Collections.Generic;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;

namespace OpenApiSpecForClickHouseCloud.Standard.Apis
{
    /// <summary>
    /// ServiceApi.
    /// </summary>
    public class ServiceApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="ServiceApi"/> class.
        /// </summary>
        internal ServiceApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Returns the custom instance profiles the organization can use in a region. Pass byoc_id to list the profiles configured for a BYOC infrastructure; the region is then taken from the infrastructure and region_id may be omitted. The list is empty when the organization tier does not include custom hardware profiles.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization to list available profiles for..</param>
        /// <param name="regionId">Optional parameter: Region to list profiles for, e.g. us-east-1. Required unless byoc_id is set; when both are set it must match the BYOC infrastructure's region..</param>
        /// <param name="byocId">Optional parameter: ID of the BYOC infrastructure to list profiles for. BYOC profiles are only returned when this is set..</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServiceProfilesResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServiceProfilesResponse> ServiceProfilesList(
                Guid organizationId,
                string regionId = null,
                Guid? byocId = null)
            => CoreHelper.RunTask(ServiceProfilesListAsync(organizationId, regionId, byocId));

        /// <summary>
        /// Returns the custom instance profiles the organization can use in a region. Pass byoc_id to list the profiles configured for a BYOC infrastructure; the region is then taken from the infrastructure and region_id may be omitted. The list is empty when the organization tier does not include custom hardware profiles.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization to list available profiles for..</param>
        /// <param name="regionId">Optional parameter: Region to list profiles for, e.g. us-east-1. Required unless byoc_id is set; when both are set it must match the BYOC infrastructure's region..</param>
        /// <param name="byocId">Optional parameter: ID of the BYOC infrastructure to list profiles for. BYOC profiles are only returned when this is set..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServiceProfilesResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServiceProfilesResponse>> ServiceProfilesListAsync(
                Guid organizationId,
                string regionId = null,
                Guid? byocId = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServiceProfilesResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/organizations/{organizationId}/serviceProfiles")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Query(query => query.Setup("region_id", regionId))
                      .Query(query => query.Setup("byoc_id", byocId))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServiceProfiles400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServiceProfiles500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Returns a list of all services in the organization.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="filter">Optional parameter: Filter criteria to apply when retrieving the resource. Currently, only filtering by resource tags is supported..</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesResponse> InstanceGetList(
                Guid organizationId,
                List<string> filter = null)
            => CoreHelper.RunTask(InstanceGetListAsync(organizationId, filter));

        /// <summary>
        /// Returns a list of all services in the organization.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="filter">Optional parameter: Filter criteria to apply when retrieving the resource. Currently, only filtering by resource tags is supported..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesResponse>> InstanceGetListAsync(
                Guid organizationId,
                List<string> filter = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/organizations/{organizationId}/services")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Query(query => query.Setup("filter", filter))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServices400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServices500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Creates a new service in the organization, and returns the current service state and a password to access the service. The service is started asynchronously.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that will own the service..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesResponse1 response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesResponse1> InstanceCreate(
                Guid organizationId,
                Models.ServicePostRequest body = null)
            => CoreHelper.RunTask(InstanceCreateAsync(organizationId, body));

        /// <summary>
        /// Creates a new service in the organization, and returns the current service state and a password to access the service. The service is started asynchronously.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that will own the service..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesResponse1 response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesResponse1>> InstanceCreateAsync(
                Guid organizationId,
                Models.ServicePostRequest body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesResponse1>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/organizations/{organizationId}/services")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServices400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServices500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Returns a service that belongs to the organization.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the requested service..</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesResponse2 response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesResponse2> InstanceGet(
                Guid organizationId,
                Guid serviceId)
            => CoreHelper.RunTask(InstanceGetAsync(organizationId, serviceId));

        /// <summary>
        /// Returns a service that belongs to the organization.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the requested service..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesResponse2 response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesResponse2>> InstanceGetAsync(
                Guid organizationId,
                Guid serviceId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesResponse2>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/organizations/{organizationId}/services/{serviceId}")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServices400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServices500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Updates basic service details like service name or IP access list.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the service to update..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesResponse2 response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesResponse2> InstanceUpdate(
                Guid organizationId,
                Guid serviceId,
                Models.ServicePatchRequest body = null)
            => CoreHelper.RunTask(InstanceUpdateAsync(organizationId, serviceId, body));

        /// <summary>
        /// Updates basic service details like service name or IP access list.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the service to update..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesResponse2 response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesResponse2>> InstanceUpdateAsync(
                Guid organizationId,
                Guid serviceId,
                Models.ServicePatchRequest body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesResponse2>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(new HttpMethod("PATCH"), "/v1/organizations/{organizationId}/services/{serviceId}")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServices400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServices500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Deletes the service. The service must be in stopped state and is deleted asynchronously after this method call.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the service to delete..</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesResponse4 response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesResponse4> InstanceDelete(
                Guid organizationId,
                Guid serviceId)
            => CoreHelper.RunTask(InstanceDeleteAsync(organizationId, serviceId));

        /// <summary>
        /// Deletes the service. The service must be in stopped state and is deleted asynchronously after this method call.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the service to delete..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesResponse4 response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesResponse4>> InstanceDeleteAsync(
                Guid organizationId,
                Guid serviceId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesResponse4>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Delete, "/v1/organizations/{organizationId}/services/{serviceId}")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServices400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServices500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Information required to set up a private endpoint.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="serviceId">Required parameter: ID of the requested service..</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesPrivateEndpointConfigResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesPrivateEndpointConfigResponse> InstancePrivateEndpointConfigGet(
                Guid organizationId,
                Guid serviceId)
            => CoreHelper.RunTask(InstancePrivateEndpointConfigGetAsync(organizationId, serviceId));

        /// <summary>
        /// Information required to set up a private endpoint.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="serviceId">Required parameter: ID of the requested service..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesPrivateEndpointConfigResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesPrivateEndpointConfigResponse>> InstancePrivateEndpointConfigGetAsync(
                Guid organizationId,
                Guid serviceId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesPrivateEndpointConfigResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/organizations/{organizationId}/services/{serviceId}/privateEndpointConfig")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServicesPrivateEndpointConfig400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesPrivateEndpointConfig500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Get the configuration for the service query endpoint that allows executing queries via API.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="serviceId">Required parameter: ID of the requested service..</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesServiceQueryEndpointResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesServiceQueryEndpointResponse> InstanceQueryEndpointGet(
                Guid organizationId,
                Guid serviceId)
            => CoreHelper.RunTask(InstanceQueryEndpointGetAsync(organizationId, serviceId));

        /// <summary>
        /// Get the configuration for the service query endpoint that allows executing queries via API.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="serviceId">Required parameter: ID of the requested service..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesServiceQueryEndpointResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesServiceQueryEndpointResponse>> InstanceQueryEndpointGetAsync(
                Guid organizationId,
                Guid serviceId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesServiceQueryEndpointResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/organizations/{organizationId}/services/{serviceId}/serviceQueryEndpoint")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServicesServiceQueryEndpoint400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesServiceQueryEndpoint500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Removes the service query endpoint.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="serviceId">Required parameter: ID of the requested service..</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesServiceQueryEndpointResponse1 response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesServiceQueryEndpointResponse1> InstanceQueryEndpointDelete(
                Guid organizationId,
                Guid serviceId)
            => CoreHelper.RunTask(InstanceQueryEndpointDeleteAsync(organizationId, serviceId));

        /// <summary>
        /// Removes the service query endpoint.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="serviceId">Required parameter: ID of the requested service..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesServiceQueryEndpointResponse1 response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesServiceQueryEndpointResponse1>> InstanceQueryEndpointDeleteAsync(
                Guid organizationId,
                Guid serviceId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesServiceQueryEndpointResponse1>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Delete, "/v1/organizations/{organizationId}/services/{serviceId}/serviceQueryEndpoint")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServicesServiceQueryEndpoint400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesServiceQueryEndpoint500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Create the service query endpoint that allows executing queries via API.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="serviceId">Required parameter: ID of the requested service..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesServiceQueryEndpointResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesServiceQueryEndpointResponse> InstanceQueryEndpointUpsert(
                Guid organizationId,
                Guid serviceId,
                Models.InstanceServiceQueryApiEndpointsPostRequest body = null)
            => CoreHelper.RunTask(InstanceQueryEndpointUpsertAsync(organizationId, serviceId, body));

        /// <summary>
        /// Create the service query endpoint that allows executing queries via API.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="serviceId">Required parameter: ID of the requested service..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesServiceQueryEndpointResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesServiceQueryEndpointResponse>> InstanceQueryEndpointUpsertAsync(
                Guid organizationId,
                Guid serviceId,
                Models.InstanceServiceQueryApiEndpointsPostRequest body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesServiceQueryEndpointResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/organizations/{organizationId}/services/{serviceId}/serviceQueryEndpoint")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServicesServiceQueryEndpoint400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesServiceQueryEndpoint500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Starts, stops, or wakes a service. The `start` and `stop` commands require the `control-plane:service:manage` permission on the service. The `awake` command requires only `control-plane:service:view` and applies to an idle service; it does not start a stopped service.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the service to update state..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesStateResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesStateResponse> InstanceStateUpdate(
                Guid organizationId,
                Guid serviceId,
                Models.ServiceStatePatchRequest body = null)
            => CoreHelper.RunTask(InstanceStateUpdateAsync(organizationId, serviceId, body));

        /// <summary>
        /// Starts, stops, or wakes a service. The `start` and `stop` commands require the `control-plane:service:manage` permission on the service. The `awake` command requires only `control-plane:service:view` and applies to an idle service; it does not start a stopped service.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the service to update state..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesStateResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesStateResponse>> InstanceStateUpdateAsync(
                Guid organizationId,
                Guid serviceId,
                Models.ServiceStatePatchRequest body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesStateResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(new HttpMethod("PATCH"), "/v1/organizations/{organizationId}/services/{serviceId}/state")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServicesState400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesState500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Updates minimum and maximum total memory limits and idle mode scaling behavior for the service. The memory settings are available only for "production" services and must be a multiple of 12 starting from 24GB. Please contact support to enable adjustment of numReplicas.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the service to update scaling parameters..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesScalingResponse response from the API call.</returns>
        [Obsolete]
        public ApiResponse<Models.V1OrganizationsServicesScalingResponse> InstanceScalingUpdate(
                Guid organizationId,
                Guid serviceId,
                Models.ServiceScalingPatchRequest body = null)
            => CoreHelper.RunTask(InstanceScalingUpdateAsync(organizationId, serviceId, body));

        /// <summary>
        /// Updates minimum and maximum total memory limits and idle mode scaling behavior for the service. The memory settings are available only for "production" services and must be a multiple of 12 starting from 24GB. Please contact support to enable adjustment of numReplicas.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the service to update scaling parameters..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesScalingResponse response from the API call.</returns>
        [Obsolete]
        public async Task<ApiResponse<Models.V1OrganizationsServicesScalingResponse>> InstanceScalingUpdateAsync(
                Guid organizationId,
                Guid serviceId,
                Models.ServiceScalingPatchRequest body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesScalingResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(new HttpMethod("PATCH"), "/v1/organizations/{organizationId}/services/{serviceId}/scaling")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServicesScaling400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesScaling500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Updates minimum and maximum memory limits per replica and idle mode scaling behavior for the service. Supports both vertical autoscaling (fixed replica count, variable memory) and horizontal autoscaling (variable replica count, fixed memory). The memory settings are available only for "production" services and must be a multiple of 4 starting from 8GB. For vertical autoscaling, please contact support to enable adjustment of numReplicas. For horizontal autoscaling (autoscalingMode "horizontal" with minReplicas/maxReplicas), contact support to enable the feature for your organization.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the service to update scaling parameters..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesReplicaScalingResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesReplicaScalingResponse> InstanceReplicaScalingUpdate(
                Guid organizationId,
                Guid serviceId,
                Models.ServiceReplicaScalingPatchRequest body = null)
            => CoreHelper.RunTask(InstanceReplicaScalingUpdateAsync(organizationId, serviceId, body));

        /// <summary>
        /// Updates minimum and maximum memory limits per replica and idle mode scaling behavior for the service. Supports both vertical autoscaling (fixed replica count, variable memory) and horizontal autoscaling (variable replica count, fixed memory). The memory settings are available only for "production" services and must be a multiple of 4 starting from 8GB. For vertical autoscaling, please contact support to enable adjustment of numReplicas. For horizontal autoscaling (autoscalingMode "horizontal" with minReplicas/maxReplicas), contact support to enable the feature for your organization.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the service to update scaling parameters..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesReplicaScalingResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesReplicaScalingResponse>> InstanceReplicaScalingUpdateAsync(
                Guid organizationId,
                Guid serviceId,
                Models.ServiceReplicaScalingPatchRequest body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesReplicaScalingResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(new HttpMethod("PATCH"), "/v1/organizations/{organizationId}/services/{serviceId}/replicaScaling")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServicesReplicaScaling400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesReplicaScaling500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Sets a new password for the service.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the service to update password..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesPasswordResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesPasswordResponse> InstancePasswordUpdate(
                Guid organizationId,
                Guid serviceId,
                Models.ServicePasswordPatchRequest body = null)
            => CoreHelper.RunTask(InstancePasswordUpdateAsync(organizationId, serviceId, body));

        /// <summary>
        /// Sets a new password for the service.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the service to update password..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesPasswordResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesPasswordResponse>> InstancePasswordUpdateAsync(
                Guid organizationId,
                Guid serviceId,
                Models.ServicePasswordPatchRequest body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesPasswordResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(new HttpMethod("PATCH"), "/v1/organizations/{organizationId}/services/{serviceId}/password")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServicesPassword400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesPassword500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Create a new private endpoint. The private endpoint will be associated with this service and organization.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="serviceId">Required parameter: ID of the requested service..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesPrivateEndpointResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesPrivateEndpointResponse> InstancePrivateEndpointCreate(
                Guid organizationId,
                Guid serviceId,
                Models.ServicPrivateEndpointePostRequest body = null)
            => CoreHelper.RunTask(InstancePrivateEndpointCreateAsync(organizationId, serviceId, body));

        /// <summary>
        /// Create a new private endpoint. The private endpoint will be associated with this service and organization.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="serviceId">Required parameter: ID of the requested service..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesPrivateEndpointResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesPrivateEndpointResponse>> InstancePrivateEndpointCreateAsync(
                Guid organizationId,
                Guid serviceId,
                Models.ServicPrivateEndpointePostRequest body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesPrivateEndpointResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/organizations/{organizationId}/services/{serviceId}/privateEndpoint")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServicesPrivateEndpoint400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesPrivateEndpoint500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// **Disclaimer:** This beta endpoint is evolving; the API contract may change. <br /><br /> Returns the autoscaling schedule for a service. Returns 404 if no schedule has been configured or if the schedule was cleared. Requires the scheduled autoscaling feature to be enabled for the organization.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the service..</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesScalingScheduleResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesScalingScheduleResponse> ScalingScheduleGet(
                Guid organizationId,
                Guid serviceId)
            => CoreHelper.RunTask(ScalingScheduleGetAsync(organizationId, serviceId));

        /// <summary>
        /// **Disclaimer:** This beta endpoint is evolving; the API contract may change. <br /><br /> Returns the autoscaling schedule for a service. Returns 404 if no schedule has been configured or if the schedule was cleared. Requires the scheduled autoscaling feature to be enabled for the organization.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the service..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesScalingScheduleResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesScalingScheduleResponse>> ScalingScheduleGetAsync(
                Guid organizationId,
                Guid serviceId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesScalingScheduleResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/organizations/{organizationId}/services/{serviceId}/scalingSchedule")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServicesScalingSchedule400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesScalingSchedule500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// **Disclaimer:** This beta endpoint is evolving; the API contract may change. <br /><br /> Creates or fully replaces the autoscaling schedule for a service. Pass an empty `entries` array to clear the schedule — a subsequent GET will return 404, and the response will contain an empty `baseConfig` (all fields absent). The base scaling config (applied when no entry is active) is managed separately via the `replicaScaling` endpoint. Requires the scheduled autoscaling feature to be enabled for the organization.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the service..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesScalingScheduleResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesScalingScheduleResponse> ScalingScheduleUpsert(
                Guid organizationId,
                Guid serviceId,
                Models.ScalingSchedulePostRequest body = null)
            => CoreHelper.RunTask(ScalingScheduleUpsertAsync(organizationId, serviceId, body));

        /// <summary>
        /// **Disclaimer:** This beta endpoint is evolving; the API contract may change. <br /><br /> Creates or fully replaces the autoscaling schedule for a service. Pass an empty `entries` array to clear the schedule — a subsequent GET will return 404, and the response will contain an empty `baseConfig` (all fields absent). The base scaling config (applied when no entry is active) is managed separately via the `replicaScaling` endpoint. Requires the scheduled autoscaling feature to be enabled for the organization.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the service..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesScalingScheduleResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesScalingScheduleResponse>> ScalingScheduleUpsertAsync(
                Guid organizationId,
                Guid serviceId,
                Models.ScalingSchedulePostRequest body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesScalingScheduleResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/organizations/{organizationId}/services/{serviceId}/scalingSchedule")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServicesScalingSchedule400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesScalingSchedule500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// **Disclaimer:** This beta endpoint is evolving; the API contract may change. <br /><br /> Deletes the autoscaling schedule for a service. If a schedule entry is currently active, the base scaling config is restored to the instance before the schedule is removed. Returns 404 if no schedule exists. Requires the scheduled autoscaling feature to be enabled for the organization.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the service..</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesScalingScheduleResponse2 response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesScalingScheduleResponse2> ScalingScheduleDelete(
                Guid organizationId,
                Guid serviceId)
            => CoreHelper.RunTask(ScalingScheduleDeleteAsync(organizationId, serviceId));

        /// <summary>
        /// **Disclaimer:** This beta endpoint is evolving; the API contract may change. <br /><br /> Deletes the autoscaling schedule for a service. If a schedule entry is currently active, the base scaling config is restored to the instance before the schedule is removed. Returns 404 if no schedule exists. Requires the scheduled autoscaling feature to be enabled for the organization.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the service..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesScalingScheduleResponse2 response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesScalingScheduleResponse2>> ScalingScheduleDeleteAsync(
                Guid organizationId,
                Guid serviceId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesScalingScheduleResponse2>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Delete, "/v1/organizations/{organizationId}/services/{serviceId}/scalingSchedule")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServicesScalingSchedule400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesScalingSchedule500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Returns the configured upgrade window for a service.
        /// Errors:.
        /// - 401: missing, invalid, or disabled API key.
        /// - 403: caller lacks `control-plane:service:view` on the service.
        /// - 404: service does not exist, is not visible to the caller, or no upgrade window has been configured.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the service..</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesUpgradeWindowResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesUpgradeWindowResponse> UpgradeWindowGet(
                Guid organizationId,
                Guid serviceId)
            => CoreHelper.RunTask(UpgradeWindowGetAsync(organizationId, serviceId));

        /// <summary>
        /// Returns the configured upgrade window for a service.
        /// Errors:.
        /// - 401: missing, invalid, or disabled API key.
        /// - 403: caller lacks `control-plane:service:view` on the service.
        /// - 404: service does not exist, is not visible to the caller, or no upgrade window has been configured.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the service..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesUpgradeWindowResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesUpgradeWindowResponse>> UpgradeWindowGetAsync(
                Guid organizationId,
                Guid serviceId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesUpgradeWindowResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/organizations/{organizationId}/services/{serviceId}/upgradeWindow")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServicesUpgradeWindow400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesUpgradeWindow500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Creates or fully replaces the upgrade window for a service. The upgrade window currently lasts 6 hours from `startHourUtc`. The upgrade window can only be set on primary services; secondary services inherit the primary service window.
        /// Errors:.
        /// - 400: invalid field values (`weekday` not in 0–6, `startHourUtc` not in {0, 6, 12, 18}), or the service is a secondary service.
        /// - 401: missing, invalid, or disabled API key.
        /// - 403: caller lacks `control-plane:service:manage` on the service, or the organization does not have the scheduled upgrades feature enabled.
        /// - 404: service does not exist or is not visible to the caller.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the service..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesUpgradeWindowResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesUpgradeWindowResponse> UpgradeWindowUpdate(
                Guid organizationId,
                Guid serviceId,
                Models.UpgradeWindowPutRequest body = null)
            => CoreHelper.RunTask(UpgradeWindowUpdateAsync(organizationId, serviceId, body));

        /// <summary>
        /// Creates or fully replaces the upgrade window for a service. The upgrade window currently lasts 6 hours from `startHourUtc`. The upgrade window can only be set on primary services; secondary services inherit the primary service window.
        /// Errors:.
        /// - 400: invalid field values (`weekday` not in 0–6, `startHourUtc` not in {0, 6, 12, 18}), or the service is a secondary service.
        /// - 401: missing, invalid, or disabled API key.
        /// - 403: caller lacks `control-plane:service:manage` on the service, or the organization does not have the scheduled upgrades feature enabled.
        /// - 404: service does not exist or is not visible to the caller.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the service..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesUpgradeWindowResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesUpgradeWindowResponse>> UpgradeWindowUpdateAsync(
                Guid organizationId,
                Guid serviceId,
                Models.UpgradeWindowPutRequest body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesUpgradeWindowResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Put, "/v1/organizations/{organizationId}/services/{serviceId}/upgradeWindow")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServicesUpgradeWindow400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesUpgradeWindow500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Deletes the upgrade window for a service, restoring the default scheduling behaviour. The upgrade window can only be deleted on primary services. Deletion succeeds even if the organization has lost the scheduled upgrades entitlement, so a window can be cleared after entitlement loss.
        /// Errors:.
        /// - 400: the service is a secondary service.
        /// - 401: missing, invalid, or disabled API key.
        /// - 403: caller lacks `control-plane:service:manage` on the service.
        /// - 404: service does not exist, is not visible to the caller, or no upgrade window is configured.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the service..</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesUpgradeWindowResponse2 response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesUpgradeWindowResponse2> UpgradeWindowDelete(
                Guid organizationId,
                Guid serviceId)
            => CoreHelper.RunTask(UpgradeWindowDeleteAsync(organizationId, serviceId));

        /// <summary>
        /// Deletes the upgrade window for a service, restoring the default scheduling behaviour. The upgrade window can only be deleted on primary services. Deletion succeeds even if the organization has lost the scheduled upgrades entitlement, so a window can be cleared after entitlement loss.
        /// Errors:.
        /// - 400: the service is a secondary service.
        /// - 401: missing, invalid, or disabled API key.
        /// - 403: caller lacks `control-plane:service:manage` on the service.
        /// - 404: service does not exist, is not visible to the caller, or no upgrade window is configured.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the service..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesUpgradeWindowResponse2 response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesUpgradeWindowResponse2>> UpgradeWindowDeleteAsync(
                Guid organizationId,
                Guid serviceId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesUpgradeWindowResponse2>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Delete, "/v1/organizations/{organizationId}/services/{serviceId}/upgradeWindow")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServicesUpgradeWindow400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesUpgradeWindow500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// **Disclaimer:** This beta endpoint is evolving; the API contract may change. <br /><br /> Returns the configured ClickHouse settings for the service. Only settings that have been explicitly set are included.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the service..</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickhouseSettingsResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesClickhouseSettingsResponse> ServiceClickhouseSettingsListGet(
                Guid organizationId,
                Guid serviceId)
            => CoreHelper.RunTask(ServiceClickhouseSettingsListGetAsync(organizationId, serviceId));

        /// <summary>
        /// **Disclaimer:** This beta endpoint is evolving; the API contract may change. <br /><br /> Returns the configured ClickHouse settings for the service. Only settings that have been explicitly set are included.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the service..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickhouseSettingsResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesClickhouseSettingsResponse>> ServiceClickhouseSettingsListGetAsync(
                Guid organizationId,
                Guid serviceId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesClickhouseSettingsResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/organizations/{organizationId}/services/{serviceId}/clickhouseSettings")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServicesClickhouseSettings400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesClickhouseSettings500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// **Disclaimer:** This beta endpoint is evolving; the API contract may change. <br /><br /> Updates one or more ClickHouse settings for the service. To reset a setting to its platform default, use the [DELETE single setting](#tag/Service/operation/serviceClickhouseSettingDelete) endpoint. Use the [schema endpoint](#tag/Service/operation/serviceClickhouseSettingsSchemaGet) to discover which settings are configurable.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the service..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickhouseSettingsResponse1 response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesClickhouseSettingsResponse1> ServiceClickhouseSettingsUpdate(
                Guid organizationId,
                Guid serviceId,
                Models.ServiceClickhouseSettingsPatchRequest body = null)
            => CoreHelper.RunTask(ServiceClickhouseSettingsUpdateAsync(organizationId, serviceId, body));

        /// <summary>
        /// **Disclaimer:** This beta endpoint is evolving; the API contract may change. <br /><br /> Updates one or more ClickHouse settings for the service. To reset a setting to its platform default, use the [DELETE single setting](#tag/Service/operation/serviceClickhouseSettingDelete) endpoint. Use the [schema endpoint](#tag/Service/operation/serviceClickhouseSettingsSchemaGet) to discover which settings are configurable.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the service..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickhouseSettingsResponse1 response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesClickhouseSettingsResponse1>> ServiceClickhouseSettingsUpdateAsync(
                Guid organizationId,
                Guid serviceId,
                Models.ServiceClickhouseSettingsPatchRequest body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesClickhouseSettingsResponse1>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(new HttpMethod("PATCH"), "/v1/organizations/{organizationId}/services/{serviceId}/clickhouseSettings")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServicesClickhouseSettings400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesClickhouseSettings500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// **Disclaimer:** This beta endpoint is evolving; the API contract may change. <br /><br /> Returns the schema of all configurable ClickHouse settings, including types, valid values, descriptions, and warnings.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the service..</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickhouseSettingsSchemaResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesClickhouseSettingsSchemaResponse> ServiceClickhouseSettingsSchemaGet(
                Guid organizationId,
                Guid serviceId)
            => CoreHelper.RunTask(ServiceClickhouseSettingsSchemaGetAsync(organizationId, serviceId));

        /// <summary>
        /// **Disclaimer:** This beta endpoint is evolving; the API contract may change. <br /><br /> Returns the schema of all configurable ClickHouse settings, including types, valid values, descriptions, and warnings.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the service..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickhouseSettingsSchemaResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesClickhouseSettingsSchemaResponse>> ServiceClickhouseSettingsSchemaGetAsync(
                Guid organizationId,
                Guid serviceId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesClickhouseSettingsSchemaResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/organizations/{organizationId}/services/{serviceId}/clickhouseSettings/schema")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServicesClickhouseSettingsSchema400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesClickhouseSettingsSchema500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// **Disclaimer:** This beta endpoint is evolving; the API contract may change. <br /><br /> Returns the current value of a ClickHouse setting for the service. Use the [schema endpoint](#tag/Service/operation/serviceClickhouseSettingsSchemaGet) to discover which settings are configurable.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the service..</param>
        /// <param name="settingName">Required parameter: Name of the setting to retrieve..</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickhouseSettingsSettingNameResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesClickhouseSettingsSettingNameResponse> ServiceClickhouseSettingGet(
                Guid organizationId,
                Guid serviceId,
                string settingName)
            => CoreHelper.RunTask(ServiceClickhouseSettingGetAsync(organizationId, serviceId, settingName));

        /// <summary>
        /// **Disclaimer:** This beta endpoint is evolving; the API contract may change. <br /><br /> Returns the current value of a ClickHouse setting for the service. Use the [schema endpoint](#tag/Service/operation/serviceClickhouseSettingsSchemaGet) to discover which settings are configurable.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the service..</param>
        /// <param name="settingName">Required parameter: Name of the setting to retrieve..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickhouseSettingsSettingNameResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesClickhouseSettingsSettingNameResponse>> ServiceClickhouseSettingGetAsync(
                Guid organizationId,
                Guid serviceId,
                string settingName,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesClickhouseSettingsSettingNameResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/organizations/{organizationId}/services/{serviceId}/clickhouseSettings/{settingName}")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))
                      .Template(template => template.Setup("settingName", settingName).Required())))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServicesClickhouseSettingsSettingName400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesClickhouseSettingsSettingName500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// **Disclaimer:** This beta endpoint is evolving; the API contract may change. <br /><br /> Removes a previously-configured ClickHouse setting, reverting its effective value to the platform default. Settings under `spec.extraConfig.server.*` (e.g. `keep_alive_timeout`, `shared_merge_tree_disable_merges_and_mutations_assignment`) trigger a ClickHouse server rollout restart; other settings propagate to all replicas after a short delay. Deleting a setting that was never configured is a no-op (200 OK).
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the service..</param>
        /// <param name="settingName">Required parameter: Name of the setting to reset..</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickhouseSettingsSettingNameResponse1 response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesClickhouseSettingsSettingNameResponse1> ServiceClickhouseSettingDelete(
                Guid organizationId,
                Guid serviceId,
                string settingName)
            => CoreHelper.RunTask(ServiceClickhouseSettingDeleteAsync(organizationId, serviceId, settingName));

        /// <summary>
        /// **Disclaimer:** This beta endpoint is evolving; the API contract may change. <br /><br /> Removes a previously-configured ClickHouse setting, reverting its effective value to the platform default. Settings under `spec.extraConfig.server.*` (e.g. `keep_alive_timeout`, `shared_merge_tree_disable_merges_and_mutations_assignment`) trigger a ClickHouse server rollout restart; other settings propagate to all replicas after a short delay. Deleting a setting that was never configured is a no-op (200 OK).
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the service..</param>
        /// <param name="settingName">Required parameter: Name of the setting to reset..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesClickhouseSettingsSettingNameResponse1 response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesClickhouseSettingsSettingNameResponse1>> ServiceClickhouseSettingDeleteAsync(
                Guid organizationId,
                Guid serviceId,
                string settingName,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesClickhouseSettingsSettingNameResponse1>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Delete, "/v1/organizations/{organizationId}/services/{serviceId}/clickhouseSettings/{settingName}")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))
                      .Template(template => template.Setup("settingName", settingName).Required())))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServicesClickhouseSettingsSettingName400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesClickhouseSettingsSettingName500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}