// <copyright file="SnapshotApi.cs" company="APIMatic">
// OpenApiSpecForClickHouseCloud.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using OpenApiSpecForClickHouseCloud.Standard.Exceptions;
using OpenApiSpecForClickHouseCloud.Standard.Http.Response;
using System;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;

namespace OpenApiSpecForClickHouseCloud.Standard.Apis
{
    /// <summary>
    /// SnapshotApi.
    /// </summary>
    public class SnapshotApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="SnapshotApi"/> class.
        /// </summary>
        internal SnapshotApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> Returns a list of all snapshots for the service. The most recent snapshots come first in the list.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the snapshot..</param>
        /// <param name="serviceId">Required parameter: ID of the service the snapshot was created from..</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesSnapshotsResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesSnapshotsResponse> SnapshotGetList(
                Guid organizationId,
                Guid serviceId)
            => CoreHelper.RunTask(SnapshotGetListAsync(organizationId, serviceId));

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> Returns a list of all snapshots for the service. The most recent snapshots come first in the list.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the snapshot..</param>
        /// <param name="serviceId">Required parameter: ID of the service the snapshot was created from..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesSnapshotsResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesSnapshotsResponse>> SnapshotGetListAsync(
                Guid organizationId,
                Guid serviceId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesSnapshotsResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/organizations/{organizationId}/services/{serviceId}/snapshots")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServicesSnapshots400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesSnapshots500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> Returns a single snapshot info.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the snapshot..</param>
        /// <param name="serviceId">Required parameter: ID of the service the snapshot was created from..</param>
        /// <param name="snapshotId">Required parameter: ID of the requested snapshot..</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesSnapshotsSnapshotIdResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesSnapshotsSnapshotIdResponse> SnapshotGet(
                Guid organizationId,
                Guid serviceId,
                Guid snapshotId)
            => CoreHelper.RunTask(SnapshotGetAsync(organizationId, serviceId, snapshotId));

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> Returns a single snapshot info.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the snapshot..</param>
        /// <param name="serviceId">Required parameter: ID of the service the snapshot was created from..</param>
        /// <param name="snapshotId">Required parameter: ID of the requested snapshot..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesSnapshotsSnapshotIdResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesSnapshotsSnapshotIdResponse>> SnapshotGetAsync(
                Guid organizationId,
                Guid serviceId,
                Guid snapshotId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesSnapshotsSnapshotIdResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/organizations/{organizationId}/services/{serviceId}/snapshots/{snapshotId}")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))
                      .Template(template => template.Setup("snapshotId", snapshotId))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServicesSnapshotsSnapshotId400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesSnapshotsSnapshotId500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> Returns the service snapshot configuration.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the service..</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesSnapshotConfigurationResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesSnapshotConfigurationResponse> SnapshotConfigurationGet(
                Guid organizationId,
                Guid serviceId)
            => CoreHelper.RunTask(SnapshotConfigurationGetAsync(organizationId, serviceId));

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> Returns the service snapshot configuration.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the service..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesSnapshotConfigurationResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesSnapshotConfigurationResponse>> SnapshotConfigurationGetAsync(
                Guid organizationId,
                Guid serviceId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesSnapshotConfigurationResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/organizations/{organizationId}/services/{serviceId}/snapshotConfiguration")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServicesSnapshotConfiguration400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesSnapshotConfiguration500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> Updates the service snapshot configuration. Requires ADMIN auth key role. Enables or disables scheduled snapshots and sets the cadence; when enabled, gap and timeFrame (in minutes) must together be one of the supported (gap, timeFrame) pairs: (30, 1440), (60, 2880). Provide at least one of enabled, gap, timeFrame; omit a field to leave it unchanged (null is not accepted).
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the service..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesSnapshotConfigurationResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsServicesSnapshotConfigurationResponse> SnapshotConfigurationUpdate(
                Guid organizationId,
                Guid serviceId,
                Models.SnapshotConfigurationPatchRequest body = null)
            => CoreHelper.RunTask(SnapshotConfigurationUpdateAsync(organizationId, serviceId, body));

        /// <summary>
        /// **This endpoint is in beta.** API contract is stable, and no breaking changes are expected in the future. <br /><br /> Updates the service snapshot configuration. Requires ADMIN auth key role. Enables or disables scheduled snapshots and sets the cadence; when enabled, gap and timeFrame (in minutes) must together be one of the supported (gap, timeFrame) pairs: (30, 1440), (60, 2880). Provide at least one of enabled, gap, timeFrame; omit a field to leave it unchanged (null is not accepted).
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that owns the service..</param>
        /// <param name="serviceId">Required parameter: ID of the service..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsServicesSnapshotConfigurationResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsServicesSnapshotConfigurationResponse>> SnapshotConfigurationUpdateAsync(
                Guid organizationId,
                Guid serviceId,
                Models.SnapshotConfigurationPatchRequest body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsServicesSnapshotConfigurationResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(new HttpMethod("PATCH"), "/v1/organizations/{organizationId}/services/{serviceId}/snapshotConfiguration")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("serviceId", serviceId))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsServicesSnapshotConfiguration400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsServicesSnapshotConfiguration500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}