// <copyright file="UdfApi.cs" company="APIMatic">
// OpenApiSpecForClickHouseCloud.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using OpenApiSpecForClickHouseCloud.Standard.Exceptions;
using OpenApiSpecForClickHouseCloud.Standard.Http.Response;
using OpenApiSpecForClickHouseCloud.Standard.Models.Containers;
using System;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;

namespace OpenApiSpecForClickHouseCloud.Standard.Apis
{
    /// <summary>
    /// UdfApi.
    /// </summary>
    public class UdfApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="UdfApi"/> class.
        /// </summary>
        internal UdfApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// **Disclaimer:** This beta endpoint is evolving; the API contract may change. <br /><br /> Attaches one UDF version to a service, replacing the current version when necessary. When version is omitted, the latest ready version is attached.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="functionName">Required parameter: Name of the UDF..</param>
        /// <param name="serviceId">Required parameter: ID of the requested service..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsUdfsAttachmentsServiceIdResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsUdfsAttachmentsServiceIdResponse> UdfAttach(
                Guid organizationId,
                string functionName,
                Guid serviceId,
                Models.V1OrganizationsUdfsAttachmentsServiceIdRequest body = null)
            => CoreHelper.RunTask(UdfAttachAsync(organizationId, functionName, serviceId, body));

        /// <summary>
        /// **Disclaimer:** This beta endpoint is evolving; the API contract may change. <br /><br /> Attaches one UDF version to a service, replacing the current version when necessary. When version is omitted, the latest ready version is attached.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="functionName">Required parameter: Name of the UDF..</param>
        /// <param name="serviceId">Required parameter: ID of the requested service..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsUdfsAttachmentsServiceIdResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsUdfsAttachmentsServiceIdResponse>> UdfAttachAsync(
                Guid organizationId,
                string functionName,
                Guid serviceId,
                Models.V1OrganizationsUdfsAttachmentsServiceIdRequest body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsUdfsAttachmentsServiceIdResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Put, "/v1/organizations/{organizationId}/udfs/{functionName}/attachments/{serviceId}")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("functionName", functionName).Required())
                      .Template(template => template.Setup("serviceId", serviceId))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The service does not support UDFs.", (errorReason, context) => new V1OrganizationsUdfsAttachmentsServiceId400ErrorException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("UDF, version, or service not found.", (errorReason, context) => new V1OrganizationsUdfsAttachmentsServiceId404ErrorException(errorReason, context)))
                  .ErrorCase("409", CreateErrorCase("The requested version is not ready or another attachment transition is in progress.", (errorReason, context) => new V1OrganizationsUdfsAttachmentsServiceId409ErrorException(errorReason, context)))
                  .ErrorCase("422", CreateErrorCase("Service UDF attachment limit exceeded.", (errorReason, context) => new V1OrganizationsUdfsAttachmentsServiceId422ErrorException(errorReason, context)))
                  .ErrorCase("424", CreateErrorCase("The service must be running before the UDF can be attached.", (errorReason, context) => new V1OrganizationsUdfsAttachmentsServiceId424ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsUdfsAttachmentsServiceId500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// **Disclaimer:** This beta endpoint is evolving; the API contract may change. <br /><br /> Returns the current attachment of a UDF to one service.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="functionName">Required parameter: Name of the UDF..</param>
        /// <param name="serviceId">Required parameter: ID of the requested service..</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsUdfsAttachmentsServiceIdResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsUdfsAttachmentsServiceIdResponse> UdfAttachmentGet(
                Guid organizationId,
                string functionName,
                Guid serviceId)
            => CoreHelper.RunTask(UdfAttachmentGetAsync(organizationId, functionName, serviceId));

        /// <summary>
        /// **Disclaimer:** This beta endpoint is evolving; the API contract may change. <br /><br /> Returns the current attachment of a UDF to one service.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="functionName">Required parameter: Name of the UDF..</param>
        /// <param name="serviceId">Required parameter: ID of the requested service..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsUdfsAttachmentsServiceIdResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsUdfsAttachmentsServiceIdResponse>> UdfAttachmentGetAsync(
                Guid organizationId,
                string functionName,
                Guid serviceId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsUdfsAttachmentsServiceIdResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/organizations/{organizationId}/udfs/{functionName}/attachments/{serviceId}")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("functionName", functionName).Required())
                      .Template(template => template.Setup("serviceId", serviceId))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsUdfsAttachmentsServiceId400Error2Exception(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("UDF not found or not attached to this service.", (errorReason, context) => new V1OrganizationsUdfsAttachmentsServiceId404ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsUdfsAttachmentsServiceId500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// **Disclaimer:** This beta endpoint is evolving; the API contract may change. <br /><br /> Detaches a UDF from a service.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="functionName">Required parameter: Name of the UDF..</param>
        /// <param name="serviceId">Required parameter: ID of the requested service..</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsUdfsAttachmentsServiceIdResponse2 response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsUdfsAttachmentsServiceIdResponse2> UdfDetach(
                Guid organizationId,
                string functionName,
                Guid serviceId)
            => CoreHelper.RunTask(UdfDetachAsync(organizationId, functionName, serviceId));

        /// <summary>
        /// **Disclaimer:** This beta endpoint is evolving; the API contract may change. <br /><br /> Detaches a UDF from a service.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="functionName">Required parameter: Name of the UDF..</param>
        /// <param name="serviceId">Required parameter: ID of the requested service..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsUdfsAttachmentsServiceIdResponse2 response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsUdfsAttachmentsServiceIdResponse2>> UdfDetachAsync(
                Guid organizationId,
                string functionName,
                Guid serviceId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsUdfsAttachmentsServiceIdResponse2>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Delete, "/v1/organizations/{organizationId}/udfs/{functionName}/attachments/{serviceId}")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("functionName", functionName).Required())
                      .Template(template => template.Setup("serviceId", serviceId))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsUdfsAttachmentsServiceId400Error2Exception(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("UDF not found.", (errorReason, context) => new V1OrganizationsUdfsAttachmentsServiceId404ErrorException(errorReason, context)))
                  .ErrorCase("409", CreateErrorCase("An attachment transition is already in progress.", (errorReason, context) => new V1OrganizationsUdfsAttachmentsServiceId409ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsUdfsAttachmentsServiceId500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// **Disclaimer:** This beta endpoint is evolving; the API contract may change. <br /><br /> Returns the current service attachments for a UDF, with at most one attachment per service.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="functionName">Required parameter: Name of the UDF..</param>
        /// <param name="cursor">Optional parameter: Cursor returned in `pagination.nextCursor` from the previous page..</param>
        /// <param name="limit">Optional parameter: Maximum number of records to return per page. Defaults to 100. Maximum is 100..</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsUdfsAttachmentsResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsUdfsAttachmentsResponse> UdfAttachmentList(
                Guid organizationId,
                string functionName,
                string cursor = null,
                int? limit = 100)
            => CoreHelper.RunTask(UdfAttachmentListAsync(organizationId, functionName, cursor, limit));

        /// <summary>
        /// **Disclaimer:** This beta endpoint is evolving; the API contract may change. <br /><br /> Returns the current service attachments for a UDF, with at most one attachment per service.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="functionName">Required parameter: Name of the UDF..</param>
        /// <param name="cursor">Optional parameter: Cursor returned in `pagination.nextCursor` from the previous page..</param>
        /// <param name="limit">Optional parameter: Maximum number of records to return per page. Defaults to 100. Maximum is 100..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsUdfsAttachmentsResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsUdfsAttachmentsResponse>> UdfAttachmentListAsync(
                Guid organizationId,
                string functionName,
                string cursor = null,
                int? limit = 100,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsUdfsAttachmentsResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/organizations/{organizationId}/udfs/{functionName}/attachments")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("functionName", functionName).Required())
                      .Query(query => query.Setup("cursor", cursor))
                      .Query(query => query.Setup("limit", limit ?? 100))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsUdfsAttachments400ErrorException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("UDF not found.", (errorReason, context) => new V1OrganizationsUdfsAttachments404ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsUdfsAttachments500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// **Disclaimer:** This beta endpoint is evolving; the API contract may change. <br /><br /> Creates a new UDF. See [User-defined functions in Cloud](https://clickhouse.com/docs/products/cloud/features/sql-console-features/user-defined-functions).
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsUdfsResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsUdfsResponse> UdfCreate(
                Guid organizationId,
                UdfCreateRequest2 body = null)
            => CoreHelper.RunTask(UdfCreateAsync(organizationId, body));

        /// <summary>
        /// **Disclaimer:** This beta endpoint is evolving; the API contract may change. <br /><br /> Creates a new UDF. See [User-defined functions in Cloud](https://clickhouse.com/docs/products/cloud/features/sql-console-features/user-defined-functions).
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsUdfsResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsUdfsResponse>> UdfCreateAsync(
                Guid organizationId,
                UdfCreateRequest2 body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsUdfsResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/organizations/{organizationId}/udfs")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsUdfs400ErrorException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Requested UDF features are not enabled.", (errorReason, context) => new V1OrganizationsUdfs403ErrorException(errorReason, context)))
                  .ErrorCase("409", CreateErrorCase("The function name already exists.", (errorReason, context) => new V1OrganizationsUdfs409ErrorException(errorReason, context)))
                  .ErrorCase("410", CreateErrorCase("The source archive is unavailable.", (errorReason, context) => new V1OrganizationsUdfs410ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsUdfs500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// **Disclaimer:** This beta endpoint is evolving; the API contract may change. <br /><br /> Returns the latest version of each UDF in the organization.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="cursor">Optional parameter: Cursor returned in `pagination.nextCursor` from the previous page..</param>
        /// <param name="limit">Optional parameter: Maximum number of records to return per page. Defaults to 100. Maximum is 100..</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsUdfsResponse1 response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsUdfsResponse1> UdfList(
                Guid organizationId,
                string cursor = null,
                int? limit = 100)
            => CoreHelper.RunTask(UdfListAsync(organizationId, cursor, limit));

        /// <summary>
        /// **Disclaimer:** This beta endpoint is evolving; the API contract may change. <br /><br /> Returns the latest version of each UDF in the organization.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="cursor">Optional parameter: Cursor returned in `pagination.nextCursor` from the previous page..</param>
        /// <param name="limit">Optional parameter: Maximum number of records to return per page. Defaults to 100. Maximum is 100..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsUdfsResponse1 response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsUdfsResponse1>> UdfListAsync(
                Guid organizationId,
                string cursor = null,
                int? limit = 100,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsUdfsResponse1>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/organizations/{organizationId}/udfs")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Query(query => query.Setup("cursor", cursor))
                      .Query(query => query.Setup("limit", limit ?? 100))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsUdfs400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsUdfs500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// **Disclaimer:** This beta endpoint is evolving; the API contract may change. <br /><br /> Deletes every version of a UDF and detaches it from all services. Removal from services completes asynchronously.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="functionName">Required parameter: Name of the UDF..</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsUdfsResponse2 response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsUdfsResponse2> UdfDelete(
                Guid organizationId,
                string functionName)
            => CoreHelper.RunTask(UdfDeleteAsync(organizationId, functionName));

        /// <summary>
        /// **Disclaimer:** This beta endpoint is evolving; the API contract may change. <br /><br /> Deletes every version of a UDF and detaches it from all services. Removal from services completes asynchronously.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="functionName">Required parameter: Name of the UDF..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsUdfsResponse2 response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsUdfsResponse2>> UdfDeleteAsync(
                Guid organizationId,
                string functionName,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsUdfsResponse2>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Delete, "/v1/organizations/{organizationId}/udfs/{functionName}")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("functionName", functionName).Required())))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsUdfs400ErrorException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("UDF not found.", (errorReason, context) => new V1OrganizationsUdfs404ErrorException(errorReason, context)))
                  .ErrorCase("409", CreateErrorCase("A UDF version is still building.", (errorReason, context) => new V1OrganizationsUdfs409ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsUdfs500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// **Disclaimer:** This beta endpoint is evolving; the API contract may change. <br /><br /> Returns the latest version of a UDF.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="functionName">Required parameter: Name of the UDF..</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsUdfsResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsUdfsResponse> UdfGet(
                Guid organizationId,
                string functionName)
            => CoreHelper.RunTask(UdfGetAsync(organizationId, functionName));

        /// <summary>
        /// **Disclaimer:** This beta endpoint is evolving; the API contract may change. <br /><br /> Returns the latest version of a UDF.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="functionName">Required parameter: Name of the UDF..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsUdfsResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsUdfsResponse>> UdfGetAsync(
                Guid organizationId,
                string functionName,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsUdfsResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/organizations/{organizationId}/udfs/{functionName}")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("functionName", functionName).Required())))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsUdfs400ErrorException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("UDF not found.", (errorReason, context) => new V1OrganizationsUdfs404ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsUdfs500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// **Disclaimer:** This beta endpoint is evolving; the API contract may change. <br /><br /> Creates an org-scoped presigned application/zip upload URL. Callers must use an upload ID for only one create or version attempt and request a new upload URL when retrying.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsUdfUploadsUrlResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsUdfUploadsUrlResponse> UdfUploadSessionCreate(
                Guid organizationId)
            => CoreHelper.RunTask(UdfUploadSessionCreateAsync(organizationId));

        /// <summary>
        /// **Disclaimer:** This beta endpoint is evolving; the API contract may change. <br /><br /> Creates an org-scoped presigned application/zip upload URL. Callers must use an upload ID for only one create or version attempt and request a new upload URL when retrying.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsUdfUploadsUrlResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsUdfUploadsUrlResponse>> UdfUploadSessionCreateAsync(
                Guid organizationId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsUdfUploadsUrlResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/organizations/{organizationId}/udfUploads/url")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsUdfUploadsUrl400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsUdfUploadsUrl500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// **Disclaimer:** This beta endpoint is evolving; the API contract may change. <br /><br /> Consumes a source archive, assigns a version, and starts the UDF build. Optional configuration fields omitted from the request use the defaults documented in the request schema; values are not inherited from the previous version. Retry by requesting a new upload URL and re-uploading.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="functionName">Required parameter: Name of the UDF..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsUdfsVersionsResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsUdfsVersionsResponse> UdfVersionCreate(
                Guid organizationId,
                string functionName,
                UdfVersionCreateRequest2 body = null)
            => CoreHelper.RunTask(UdfVersionCreateAsync(organizationId, functionName, body));

        /// <summary>
        /// **Disclaimer:** This beta endpoint is evolving; the API contract may change. <br /><br /> Consumes a source archive, assigns a version, and starts the UDF build. Optional configuration fields omitted from the request use the defaults documented in the request schema; values are not inherited from the previous version. Retry by requesting a new upload URL and re-uploading.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="functionName">Required parameter: Name of the UDF..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsUdfsVersionsResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsUdfsVersionsResponse>> UdfVersionCreateAsync(
                Guid organizationId,
                string functionName,
                UdfVersionCreateRequest2 body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsUdfsVersionsResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/organizations/{organizationId}/udfs/{functionName}/versions")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("functionName", functionName).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsUdfsVersions400ErrorException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Requested UDF features are not enabled.", (errorReason, context) => new V1OrganizationsUdfsVersions403ErrorException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("UDF not found.", (errorReason, context) => new V1OrganizationsUdfsVersions404ErrorException(errorReason, context)))
                  .ErrorCase("409", CreateErrorCase("A concurrent request conflicted with this request.", (errorReason, context) => new V1OrganizationsUdfsVersions409ErrorException(errorReason, context)))
                  .ErrorCase("410", CreateErrorCase("The source archive is unavailable.", (errorReason, context) => new V1OrganizationsUdfsVersions410ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsUdfsVersions500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// **Disclaimer:** This beta endpoint is evolving; the API contract may change. <br /><br /> Returns all versions of a UDF.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="functionName">Required parameter: Name of the UDF..</param>
        /// <param name="cursor">Optional parameter: Cursor returned in `pagination.nextCursor` from the previous page..</param>
        /// <param name="limit">Optional parameter: Maximum number of records to return per page. Defaults to 100. Maximum is 100..</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsUdfsVersionsResponse1 response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsUdfsVersionsResponse1> UdfVersionList(
                Guid organizationId,
                string functionName,
                string cursor = null,
                int? limit = 100)
            => CoreHelper.RunTask(UdfVersionListAsync(organizationId, functionName, cursor, limit));

        /// <summary>
        /// **Disclaimer:** This beta endpoint is evolving; the API contract may change. <br /><br /> Returns all versions of a UDF.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="functionName">Required parameter: Name of the UDF..</param>
        /// <param name="cursor">Optional parameter: Cursor returned in `pagination.nextCursor` from the previous page..</param>
        /// <param name="limit">Optional parameter: Maximum number of records to return per page. Defaults to 100. Maximum is 100..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsUdfsVersionsResponse1 response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsUdfsVersionsResponse1>> UdfVersionListAsync(
                Guid organizationId,
                string functionName,
                string cursor = null,
                int? limit = 100,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsUdfsVersionsResponse1>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/organizations/{organizationId}/udfs/{functionName}/versions")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("functionName", functionName).Required())
                      .Query(query => query.Setup("cursor", cursor))
                      .Query(query => query.Setup("limit", limit ?? 100))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsUdfsVersions400ErrorException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("UDF not found.", (errorReason, context) => new V1OrganizationsUdfsVersions404ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsUdfsVersions500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// **Disclaimer:** This beta endpoint is evolving; the API contract may change. <br /><br /> Deletes a UDF version. The UDF must not be attached to any services.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="functionName">Required parameter: Name of the UDF..</param>
        /// <param name="version">Required parameter: Version number of the UDF..</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsUdfsVersionsVersionResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsUdfsVersionsVersionResponse> UdfVersionDelete(
                Guid organizationId,
                string functionName,
                int version)
            => CoreHelper.RunTask(UdfVersionDeleteAsync(organizationId, functionName, version));

        /// <summary>
        /// **Disclaimer:** This beta endpoint is evolving; the API contract may change. <br /><br /> Deletes a UDF version. The UDF must not be attached to any services.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="functionName">Required parameter: Name of the UDF..</param>
        /// <param name="version">Required parameter: Version number of the UDF..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsUdfsVersionsVersionResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsUdfsVersionsVersionResponse>> UdfVersionDeleteAsync(
                Guid organizationId,
                string functionName,
                int version,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsUdfsVersionsVersionResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Delete, "/v1/organizations/{organizationId}/udfs/{functionName}/versions/{version}")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("functionName", functionName).Required())
                      .Template(template => template.Setup("version", version))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsUdfsVersionsVersion400ErrorException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("UDF or version not found.", (errorReason, context) => new V1OrganizationsUdfsVersionsVersion404ErrorException(errorReason, context)))
                  .ErrorCase("409", CreateErrorCase("The UDF version is the latest version, is attached to a service, or is still building.", (errorReason, context) => new V1OrganizationsUdfsVersionsVersion409ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsUdfsVersionsVersion500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}