// <copyright file="UserManagementApi.cs" company="APIMatic">
// OpenApiSpecForClickHouseCloud.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using OpenApiSpecForClickHouseCloud.Standard.Exceptions;
using OpenApiSpecForClickHouseCloud.Standard.Http.Response;
using System;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;

namespace OpenApiSpecForClickHouseCloud.Standard.Apis
{
    /// <summary>
    /// UserManagementApi.
    /// </summary>
    public class UserManagementApi : BaseApi
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="UserManagementApi"/> class.
        /// </summary>
        internal UserManagementApi(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Returns a list of all members in the organization.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsMembersResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsMembersResponse> MemberGetList(
                Guid organizationId)
            => CoreHelper.RunTask(MemberGetListAsync(organizationId));

        /// <summary>
        /// Returns a list of all members in the organization.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsMembersResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsMembersResponse>> MemberGetListAsync(
                Guid organizationId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsMembersResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/organizations/{organizationId}/members")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsMembers400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsMembers500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Returns a single organization member details.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization the member is part of..</param>
        /// <param name="userId">Required parameter: ID of the requested user..</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsMembersResponse1 response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsMembersResponse1> MemberGet(
                Guid organizationId,
                Guid userId)
            => CoreHelper.RunTask(MemberGetAsync(organizationId, userId));

        /// <summary>
        /// Returns a single organization member details.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization the member is part of..</param>
        /// <param name="userId">Required parameter: ID of the requested user..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsMembersResponse1 response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsMembersResponse1>> MemberGetAsync(
                Guid organizationId,
                Guid userId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsMembersResponse1>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/organizations/{organizationId}/members/{userId}")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("userId", userId))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsMembers400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsMembers500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Updates organization member role.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization the member is part of..</param>
        /// <param name="userId">Required parameter: ID of the user to patch.</param>
        /// <param name="body">Optional parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsMembersResponse1 response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsMembersResponse1> MemberUpdate(
                Guid organizationId,
                Guid userId,
                Models.MemberPatchRequest body = null)
            => CoreHelper.RunTask(MemberUpdateAsync(organizationId, userId, body));

        /// <summary>
        /// Updates organization member role.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization the member is part of..</param>
        /// <param name="userId">Required parameter: ID of the user to patch.</param>
        /// <param name="body">Optional parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsMembersResponse1 response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsMembersResponse1>> MemberUpdateAsync(
                Guid organizationId,
                Guid userId,
                Models.MemberPatchRequest body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsMembersResponse1>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(new HttpMethod("PATCH"), "/v1/organizations/{organizationId}/members/{userId}")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("userId", userId))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsMembers400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsMembers500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Removes a user from the organization.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="userId">Required parameter: ID of the requested user..</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsMembersResponse3 response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsMembersResponse3> MemberDelete(
                Guid organizationId,
                Guid userId)
            => CoreHelper.RunTask(MemberDeleteAsync(organizationId, userId));

        /// <summary>
        /// Removes a user from the organization.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="userId">Required parameter: ID of the requested user..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsMembersResponse3 response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsMembersResponse3>> MemberDeleteAsync(
                Guid organizationId,
                Guid userId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsMembersResponse3>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Delete, "/v1/organizations/{organizationId}/members/{userId}")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("userId", userId))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsMembers400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsMembers500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Returns list of all organization invitations.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsInvitationsResponse response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsInvitationsResponse> InvitationGetList(
                Guid organizationId)
            => CoreHelper.RunTask(InvitationGetListAsync(organizationId));

        /// <summary>
        /// Returns list of all organization invitations.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsInvitationsResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsInvitationsResponse>> InvitationGetListAsync(
                Guid organizationId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsInvitationsResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/organizations/{organizationId}/invitations")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsInvitations400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsInvitations500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Creates organization invitation.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization to invite a user to..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsInvitationsResponse1 response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsInvitationsResponse1> InvitationCreate(
                Guid organizationId,
                Models.InvitationPostRequest body = null)
            => CoreHelper.RunTask(InvitationCreateAsync(organizationId, body));

        /// <summary>
        /// Creates organization invitation.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization to invite a user to..</param>
        /// <param name="body">Optional parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsInvitationsResponse1 response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsInvitationsResponse1>> InvitationCreateAsync(
                Guid organizationId,
                Models.InvitationPostRequest body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsInvitationsResponse1>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/organizations/{organizationId}/invitations")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsInvitations400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsInvitations500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Returns details for a single organization invitation.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="invitationId">Required parameter: ID of the requested organization..</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsInvitationsResponse1 response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsInvitationsResponse1> InvitationGet(
                Guid organizationId,
                Guid invitationId)
            => CoreHelper.RunTask(InvitationGetAsync(organizationId, invitationId));

        /// <summary>
        /// Returns details for a single organization invitation.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the requested organization..</param>
        /// <param name="invitationId">Required parameter: ID of the requested organization..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsInvitationsResponse1 response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsInvitationsResponse1>> InvitationGetAsync(
                Guid organizationId,
                Guid invitationId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsInvitationsResponse1>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/organizations/{organizationId}/invitations/{invitationId}")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("invitationId", invitationId))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsInvitations400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsInvitations500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Deletes a single organization invitation.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that has the invitation..</param>
        /// <param name="invitationId">Required parameter: ID of the requested organization..</param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsInvitationsResponse3 response from the API call.</returns>
        public ApiResponse<Models.V1OrganizationsInvitationsResponse3> InvitationDelete(
                Guid organizationId,
                Guid invitationId)
            => CoreHelper.RunTask(InvitationDeleteAsync(organizationId, invitationId));

        /// <summary>
        /// Deletes a single organization invitation.
        /// </summary>
        /// <param name="organizationId">Required parameter: ID of the organization that has the invitation..</param>
        /// <param name="invitationId">Required parameter: ID of the requested organization..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.V1OrganizationsInvitationsResponse3 response from the API call.</returns>
        public async Task<ApiResponse<Models.V1OrganizationsInvitationsResponse3>> InvitationDeleteAsync(
                Guid organizationId,
                Guid invitationId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.V1OrganizationsInvitationsResponse3>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Delete, "/v1/organizations/{organizationId}/invitations/{invitationId}")
                  .WithAuth("basicAuth")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("organizationId", organizationId))
                      .Template(template => template.Setup("invitationId", invitationId))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request cannot be processed due to a client error. Please verify your request parameters and try again.", (errorReason, context) => new V1OrganizationsInvitations400ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.", (errorReason, context) => new V1OrganizationsInvitations500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}